.upload_reg_area:hover {
  background-color: gainsboro;
}

.form-group label {
  background: #F6F6F6;
}


table thead>tr>th {
  padding: 5px;
  border: 1px solid #c8c8c8;
  font-weight: 700;
  background-color: #434343  !important;
  color: #fff !important;
}

table tbody>tr>td {
  padding: 5px;
  background: inherit;
  border: 1px solid #c8c8c8;
}

table>tbody>tr:nth-child(odd) {
  background-color: #F9F9F9;
}

table>tbody>tr:nth-child(even) {
  background-color: #F9F9F9;
}
