<div class="card card-body bg-light mt-3">
    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="themeName" class="required control-label">{{'theme_name'|translate}}</label>
                <input type="text" formControlName="themeName" class="form-control"
                    placeholder="{{'theme_name'|translate}}">
                <div *ngIf="themeName?.invalid && (themeName?.dirty || themeName?.touched)" class="text-danger">
                    <small class="form-text">{{themeName.errors.required | translate}}</small>
                    <small class="form-text">{{themeName.errors.maxlength | translate:themeNameMaxLength}}</small>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12">
                <label for="fileName" class="required control-label">{{'upload_image'|translate}}</label>
                <div class="col-12 form-inline pl-0">
                    <!-- <div class="col-sm-9" style="padding-right: unset;"> -->
                        <input type="file" id="fileName" accept=".jpg,.png,.gif"
                            (change)="fileChange($event.target.files)" formControlName="fileName"
                            style="display: none;">
                        <input type="text" class="form-control" style="display: unset;" value="{{_fileName}}" disabled>
                    <!-- </div>
                    <div class="col-sm-3"> -->
                        <button type="button" class="btn tpi-primary pull-right"
                            (click)="openFileBrowser();">{{'chs_file'|translate}}</button>
                    <!-- </div> -->
                </div>
                <div> *
                    {{'upload_info'|translate}}
                </div>
                <!-- <img id="showImage" src="{{imgPath}}"> -->
                <div *ngIf="fileName?.invalid && (fileName?.dirty || fileName?.touched)" class="text-danger">
                    <small class="form-text">{{fileName.errors.required | translate}}</small>
                </div>
            </div>
        </div>
        <div class="col text-center">
            <button type="submit" class="btn tpi-btn tpi-primary pull-right mr-2"
                [disabled]="form.invalid">{{submitBtnName}}</button>
        </div>
    </form>
</div>
<p-toast [style]="{marginTop: '60px'}" position="top-left"></p-toast>
