.checkbox{
    border: 1px solid #a6a6a6;
    background-color: #ffffff;
    width: 23px;
    height: 23px;
    text-align: center;
    border-radius: 3px;
    transition: background-color 0.2s, border-color 0.2s;
}

.form-group label {
  background: #F6F6F6;
}
