<div class="login-page">
  <div class="image-panel">
    <!-- <img class="img-bg"
      src="assets/images/login_left_base.png"
    /> -->
    <img class="img-building" src="assets/images/img_login_visual.png" />
  </div>
  <div class="loading-panel">
    <div style="width: 380px">
      <section class="loading-section">
        <img
          class="img-logo"
          src="assets/images/DigiFusion_digiRunner_logo_horizontal.png"
          alt=""
          title="v202102251030-v3"
        />
        <div class="line">
          <p>{{ msg }}</p>
          <p-progressBar
            mode="indeterminate"
            *ngIf="processShow"
          ></p-progressBar>
        </div>

        <button
          type="button"
          class="btn btn-login"
          (click)="returnToLogin()"
          [disabled]="btnDisabled"
        >
          {{ "button.confirm" | translate }}
        </button>
      </section>
    </div>
  </div>
  <footer class="login-footer">
    <span>Copyright© TPIsoftware. All Rights Reserved.</span>
  </footer>
</div>
