<app-container
  [title]="currentTitle"
  [isDefault]="pageNum == 1"
  (headerReturn)="headerReturn()"
>
  <div [hidden]="pageNum != 1">
    <div class="form-group row">
      <div class="col-2">
        <label class="control-label">{{ "button.export" | translate }}</label>
        <div class="form-control border-line" style="background: #f6f6f6">
          <button
            type="button"
            class="btn tpi-btn tpi-primary"
            (click)="epxortClientRelatedClick()"
          >
            {{ "button.export" | translate }}
          </button>
        </div>
      </div>
      <div class="col-5">
        <label class="control-label"
          >{{ "button.import" | translate
          }}<i
            class="far fa-question-circle ms-2"
            pTooltip="{{ 'client_related.import_tip' | translate }}"
            [escape]="false"
          ></i
        ></label>
        <div>
          <div class="ui-inputgroup">
            <input
              type="file"
              id="file"
              accept=".json"
              (change)="changeFile($event)"
              style="display: none"
            />
            <input
              [value]="jsonFile?.name"
              readonly
              type="text"
              class="form-control"
              (click)="openFileBrowser()"
              placeholder="{{ 'chs_json_file' | translate }}"
            />
            <button
              pButton
              type="button"
              icon="pi pi-file"
              class="ms-1 tpi-primary"
              (click)="openFileBrowser()"
            ></button>
            <button
              type="button"
              class="btn tpi-btn tpi-primary ms-2"
              (click)="uploadFile()"
              [disabled]="!jsonFile"
            >
              {{ "button.upload" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group col">
     <label>{{ "export_dont_modify" | translate }}</label>
    </div>
  </div>
  <hr />
  <!-- 匯入資料 -->
  <div *ngIf="relateData">
    <div class="form-group row mb-0">
      <div class="col">
        <label class="control-label">{{ "upload_infomation" | translate }}</label>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-12">
        <label class="control-label" style="font-weight: bold; font-size: 1.2rem;"
          >{{ "client_related.lackApi" | translate
          }}<i
            class="far fa-question-circle ms-2"
            pTooltip="{{ 'client_related.lack_tip' | translate }}"
            [escape]="false"
          ></i
        ></label>

        <p-table
          [value]="relateData?.lackApiList"
          styleClass="p-datatable-striped"
          [style]="{ 'word-break': 'break-word' }"
          responsiveLayout="scroll"
        >
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th>{{ "module_name" | translate }}</th>
              <th>API ID</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td>{{ rowData.moduleName }}</td>
              <td>{{ rowData.apiId }}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="2">
                {{ "no_rec" | translate }}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="col-12" *ngIf="relateData?.lackApiList.length > 0">
        <p-checkbox
          [binary]="true"
          inputId="lackCheck"
          [(ngModel)]="checkLackApi"
        >
        </p-checkbox>

        <label class="mb-0 ms-1 pt-1" for="lackCheck" style="font-weight: bold; font-size: 1.2rem;">{{
          "client_related.cofirm_by_lack" | translate
        }}</label>
      </div>
    </div>
    <!-- <div class="form-group row col">
      <button
        type="button"
        class="btn tpi-btn tpi-primary"
        (click)="allCover()"
      >
        {{ "client_related.cover_all" | translate }}
      </button>
      <div style="display: flex; align-items: center">
        <i
          class="far fa-question-circle ms-2"
          pTooltip="{{ 'client_related.cover_all_tip' | translate }}"
          [escape]="false"
        ></i>
      </div>
    </div> -->
    <hr />
    <!-- 用戶端資訊 -->
    <div class="form-group row">
      <div class="col">
        <label class="control-label" style="font-weight: bold; font-size: 1.2rem;"
          >{{ "client_related.client_info" | translate
          }}<i
            class="far fa-question-circle ms-2"
            pTooltip="{{ 'client_related.client_info_tip' | translate }}"
            [escape]="false"
          ></i
        ></label>
        <p-table
          [value]="relateData?.clientList"
          styleClass="p-datatable-striped"
          [style]="{ 'word-break': 'break-word' }"
          responsiveLayout="scroll"
        >
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th width="180px">
                {{ "client_related.dataStatus" | translate }}
              </th>
              <th>{{ "client_id" | translate }}</th>
              <th>{{ "client_name" | translate }}</th>
              <th>{{ "client_alias" | translate }}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td
                [style]="{
                  color:
                    rowData.dataStatus == 'R' ||
                    rowData.dataStatus == 'CA' ||
                    rowData.dataStatus == 'CR'
                      ? 'red'
                      : ''
                }"
              >
                <!-- {{ rowData.dataStatusName }} -->
                {{ rowData.dataStatus | dataChangeStatus| async  }}
              </td>
              <td>{{ rowData.clientId }}</td>
              <td>{{ rowData.clientName }}</td>
              <td>{{ rowData.clientAlias }}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="4">
                {{ "no_rec" | translate }}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <!-- 群組維護 -->
    <div class="form-group row">
      <div class="col">
        <label class="control-label" style="font-weight: bold; font-size: 1.2rem;"
          >{{ "client_related.group" | translate
          }}<i
            class="far fa-question-circle ms-2"
            pTooltip="{{ 'client_related.group_tip' | translate }}"
            [escape]="false"
          ></i
        ></label>
        <p-table
          [value]="relateData?.groupList"
          styleClass="p-datatable-striped"
          [style]="{ 'word-break': 'break-word' }"
          responsiveLayout="scroll"
        >
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th width="180px">
                {{ "client_related.dataStatus" | translate }}
              </th>
              <th>{{ "group_name" | translate }}</th>
              <th>{{ "group_alias" | translate }}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td
                [style]="{
                  color:
                    rowData.dataStatus == 'R' ||
                    rowData.dataStatus == 'CA' ||
                    rowData.dataStatus == 'CR'
                      ? 'red'
                      : ''
                }"
              >
                <!-- {{ rowData.dataStatusName }} -->
                {{ rowData.dataStatus | dataChangeStatus| async  }}
              </td>
              <td>{{ rowData.groupName }}</td>
              <td>{{ rowData.groupAlias }}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="3">
                {{ "no_rec" | translate }}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <!-- 授權範圍維護 -->
    <div class="form-group row">
      <div class="col">
        <label class="control-label" style="font-weight: bold; font-size: 1.2rem;"
          >{{ "client_related.vgroup" | translate
          }}<i
            class="far fa-question-circle ms-2"
            pTooltip="{{ 'client_related.vgroup_tip' | translate }}"
            [escape]="false"
          ></i
        ></label>
        <p-table
          [value]="relateData?.vgroupList"
          styleClass="p-datatable-striped"
          [style]="{ 'word-break': 'break-word' }"
          responsiveLayout="scroll"
        >
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th width="180px">
                {{ "client_related.dataStatus" | translate }}
              </th>
              <th>{{ "virtul_group_name" | translate }}</th>
              <th>{{ "virtul_group_alias" | translate }}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td
                [style]="{
                  color:
                    rowData.dataStatus == 'R' ||
                    rowData.dataStatus == 'CA' ||
                    rowData.dataStatus == 'CR'
                      ? 'red'
                      : ''
                }"
              >
                <!-- {{ rowData.dataStatusName }} -->
                {{ rowData.dataStatus | dataChangeStatus| async  }}
              </td>
              <td>{{ rowData.vgroupName }}</td>
              <td>{{ rowData.vgroupAlias }}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="3">
                {{ "no_rec" | translate }}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <!-- 查詢核身方式 -->
    <div class="form-group row">
      <div class="col">
        <label class="control-label" style="font-weight: bold; font-size: 1.2rem;"
          >{{ "client_related.group_auth" | translate
          }}<i
            class="far fa-question-circle ms-2"
            pTooltip="{{ 'client_related.group_auth_tip' | translate }}"
            [escape]="false"
          ></i
        ></label>
        <p-table
          [value]="relateData?.groupAuthList"
          styleClass="p-datatable-striped"
          [style]="{ 'word-break': 'break-word' }"
          responsiveLayout="scroll"
        >
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th width="180px">
                {{ "client_related.dataStatus" | translate }}
              </th>
              <th>{{ "client_related.group_auth_name" | translate }}</th>
              <th>{{ "client_related.group_auth_alias" | translate }}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td
                [style]="{
                  color:
                    rowData.dataStatus == 'R' ||
                    rowData.dataStatus == 'CA' ||
                    rowData.dataStatus == 'CR'
                      ? 'red'
                      : ''
                }"
              >
                <!-- {{ rowData.dataStatusName }} -->
                {{ rowData.dataStatus | dataChangeStatus| async  }}
              </td>
              <td>{{ rowData.groupAuthId }}</td>
              <td>{{ rowData.groupAuthName }}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="3">
                {{ "no_rec" | translate }}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <!-- 安全等級 -->
    <div class="form-group row">
      <div class="col">
        <label class="control-label" style="font-weight: bold; font-size: 1.2rem;"
          >{{ "client_related.security_level" | translate
          }}<i
            class="far fa-question-circle ms-2"
            pTooltip="{{ 'client_related.security_level_tip' | translate }}"
            [escape]="false"
          ></i
        ></label>
        <p-table
          [value]="relateData?.securityLevelList"
          styleClass="p-datatable-striped"
          [style]="{ 'word-break': 'break-word' }"
          responsiveLayout="scroll"
        >
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th width="180px">
                {{ "client_related.dataStatus" | translate }}
              </th>
              <th>{{ "client_related.security_level_id" | translate }}</th>
              <th>{{ "client_related.security_level_name" | translate }}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td
                [style]="{
                  color:
                    rowData.dataStatus == 'R' ||
                    rowData.dataStatus == 'CA' ||
                    rowData.dataStatus == 'CR'
                      ? 'red'
                      : ''
                }"
              >
                <!-- {{ rowData.dataStatusName }} -->
                {{ rowData.dataStatus | dataChangeStatus| async  }}
              </td>
              <td>{{ rowData.securityLevelId }}</td>
              <td>{{ rowData.securityLevelName }}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="3">
                {{ "no_rec" | translate }}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <!-- RDB連線 -->
    <div class="form-group row">
      <div class="col">
        <label class="control-label" style="font-weight: bold; font-size: 1.2rem;"
          >{{ "client_related.rdb_connection" | translate
          }}<i
            class="far fa-question-circle ms-2"
            pTooltip="{{ 'client_related.rdb_connection_tip' | translate }}"
            [escape]="false"
          ></i
        ></label>
        <p-table
          [value]="relateData?.rdbConnectionList"
          styleClass="p-datatable-striped"
          [style]="{ 'word-break': 'break-word' }"
          responsiveLayout="scroll"
        >
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th width="180px">
                {{ "client_related.dataStatus" | translate }}
              </th>
              <th>Connection Name</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td
                [style]="{
                  color:
                    rowData.dataStatus == 'R' ||
                    rowData.dataStatus == 'CA' ||
                    rowData.dataStatus == 'CR'
                      ? 'red'
                      : ''
                }"
              >
                <!-- {{ rowData.dataStatusName }} -->
                {{ rowData.dataStatus | dataChangeStatus| async  }}
              </td>
              <td>{{ rowData.connectionName }}</td>

            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="3">
                {{ "no_rec" | translate }}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <div class="form-group row col">
      <button
        type="button"
        class="btn tpi-btn tpi-primary"
        (click)="allCover()"
      >
        {{ "client_related.cover_all" | translate }}
      </button>
      <div style="display: flex; align-items: center">
        <i
          class="far fa-question-circle mx-2"
          pTooltip="{{ 'client_related.cover_all_tip' | translate }}"
          [escape]="false"
        ></i>
      </div>

      <button
        type="button"
        class="btn tpi-btn tpi-primary"
        (click)="importConfirm()"
        [disabled]="
          relateData?.lackApiList &&
          relateData?.lackApiList.length > 0 &&
          !checkLackApi
        "
        *ngIf="!checkCAflag && !imported"
      >
        {{ "button.confirm" | translate }}
      </button>
    </div>
  </div>
</app-container>
<p-toast [style]="{ marginTop: '60px' }" position="top-left"></p-toast>
<p-confirmDialog
  #cd
  [style]="{ width: '50vw' }"
  icon="pi pi-exclamation-triangle"
  styleClass="cHeader cContent cIcon"
>
  <ng-template pTemplate="footer">
    <div class="row" style="justify-content: center">
      <button
        type="button"
        pButton
        icon="pi pi-check"
        [ngStyle]="{
          backgroundColor: 'var(--red-300)',
          'border-color': 'var(--red-300)'
        }"
        label="{{ 'button.confirm' | translate }}"
        (click)="cd.accept()"
      ></button>
      <button
        type="button"
        pButton
        icon="pi pi-times"
        class="p-button-secondary"
        label="{{ 'button.cancel' | translate }}"
        (click)="cd.reject()"
      ></button>
    </div>
  </ng-template>
</p-confirmDialog>
