<div class="mb-1 col-12 px-0" [formGroup]="form" style="align-items: center;display: flex;">
  <!-- <input type="number" class="form-control" formControlName="percent" min="0" max="100"
         onkeyup="this.value=Math.round(this.value)" onafterpaste="this.value=Math.round(this.value)"
         pattern="[0-9]"  style="width:80px"> -->
  <label class="control-label required mr-1">Field</label>
  <input type="text" class="form-control col-6" name="field" formControlName="field">
  <button type="button" class="btn tpi-primary ml-1" (click)="delete($event)"
          style="border-radius: 50%" [hidden]="disabled">
    <i class="fa fa-minus"></i>
  </button>
  <label class="control-label ml-1 col">{{fieldExp}}</label>
</div>
