<div class="p-2" style="background: #dedede;border: 1px solid #3c3c3c;">
  <H5 class="font-weight-bold">Subject</H5>
  <hr>
  <div class="field-flex-space-between form-group">
    <b class="col-3">Common</b>
    <div class="col-9 text-right text-right text-break">{{decodeData?.subjectDetail.common}}</div>
  </div>
  <div class="field-flex-space-between form-group">
    <b class="col-3">Organization</b>
    <div class="col-9 text-right text-break">{{decodeData?.subjectDetail.organization}}</div>
  </div>
  <div class="field-flex-space-between form-group">
    <b class="col-3">Organization unit</b>
    <div class="col-9 text-right text-break">{{decodeData?.subjectDetail.organizationUnit}}</div>
  </div>
  <div class="field-flex-space-between form-group">
    <b class="col-3">Country</b>
    <div class="col-9 text-right text-break">{{decodeData?.subjectDetail.country}}</div>
  </div>
  <div class="field-flex-space-between form-group">
    <b class="col-3">State</b>
    <div class="col-9 text-right text-break">{{decodeData?.subjectDetail.state}}</div>
  </div>
  <div class="field-flex-space-between form-group">
    <b class="col-3">City</b>
    <div class="col-9 text-right text-break">{{decodeData?.subjectDetail.locality}}</div>
  </div>
  <div class="field-flex-space-between form-group">
    <b class="col-3">Email Address</b>
    <div class="col-9 text-right text-break">{{decodeData?.subjectDetail.eMail}}</div>
  </div>
  <hr>
  <H5 class="font-weight-bold">Issuer</H5>
  <hr>
  <div class="field-flex-space-between form-group">
    <b class="col-3">Common</b>
    <div class="col-9 text-right text-break">{{decodeData?.issuerDetail.common}}</div>
  </div>
  <div class="field-flex-space-between form-group">
    <b class="col-3">Organization</b>
    <div class="col-9 text-right text-break">{{decodeData?.issuerDetail.organization}}</div>
  </div>
  <div class="field-flex-space-between form-group">
    <b class="col-3">Organization unit</b>
    <div class="col-9 text-right text-break">{{decodeData?.issuerDetail.organizationUnit}}</div>
  </div>
  <div class="field-flex-space-between form-group">
    <b class="col-3">Country</b>
    <div class="col-9 text-right text-break">{{decodeData?.issuerDetail.country}}</div>
  </div>
  <div class="field-flex-space-between form-group">
    <b class="col-3">State</b>
    <div class="col-9 text-right text-break">{{decodeData?.issuerDetail.state}}</div>
  </div>
  <div class="field-flex-space-between form-group">
    <b class="col-3">City</b>
    <div class="col-9 text-right text-break">{{decodeData?.issuerDetail.locality}}</div>
  </div>
  <div class="field-flex-space-between form-group">
    <b class="col-3">Email Address</b>
    <div class="col-9 text-right text-break">{{decodeData?.issuerDetail.eMail}}</div>
  </div>
  <hr>
  <div class="field-flex-space-between form-group">
    <b class="col-3">Not Before</b>
    <div class="col-9 text-right text-break">{{decodeData?.notBefore}}</div>
  </div>
  <div class="field-flex-space-between form-group">
    <b class="col-3">Not After</b>
    <div class="col-9 text-right text-break">{{decodeData?.notAfter}}</div>
  </div>
  <div class="field-flex-space-between form-group">
    <b class="col-3">Serial Number</b>
    <div class="col-9 text-right text-break">{{decodeData?.serialNumber}}</div>
  </div>
  <div class="field-flex-space-between form-group">
    <b class="col-3">Fingerprint(SHA-1)</b>
    <div class="col-9 text-right text-break">{{decodeData?.fingerprintSha1}}</div>
  </div>
  <div class="field-flex-space-between form-group">
    <b class="col-3">Fingerprint(MD5)</b>
    <div class="col-9 text-right text-break">{{decodeData?.fingerprintMd5}}</div>
  </div>
</div>
