<div class="login-center-page" *ngIf="show">
  <div class="form-wrapper">
    <form [formGroup]="form" (ngSubmit)="submitForm()">
      <div class="form-header">
        <h1 style="font-weight: bold">
          <img [src]="imgSrc" />
          {{ title }}
        </h1>
      </div>
      <hr />
      <div class="form-body">
        <div class="line" [hidden]="path['action'] == 'consent'" [hidden]="idpType !== 'LDAP'" >
          <label>{{ "adldap_login" | translate }}</label>
        </div>

        <div class="form-area" [hidden]="path['action'] == 'consent'">
          <div class="felid-flex-start" [hidden]="path['action'] != 'consent'">
            <label class="mb-0">{{ "authority_time" | translate }}</label>
              <input
                type="text"
                class="form-control"
                formControlName="validityTime"
                style="width: 100px;"
              />
              <p-dropdown
                [options]="timeUnit"
                formControlName="timeUnit"
                [style]="{ width: '100%' }"
              ></p-dropdown>
          </div>
          <div class="input-line">
            <label for="uname">{{ "user_name" | translate }}</label>
            <div class="input-sign-wrapper">
              <span class="sign">
                <img src="assets/images/login/i_user.png" alt="number" />
              </span>
              <input
                type="text"
                #username
                class="form-control"
                formControlName="uname"
                [placeholder]="'user_name' | translate"
              />
            </div>
          </div>
          <div class="input-line">
            <label for="uname">{{ "user_password" | translate }}</label>
            <div class="input-sign-wrapper">
              <span class="sign">
                <img src="assets/images/login/i_pwd.png" alt="number" />
              </span>
              <input
                type="password"
                class="form-control"
                formControlName="pwd"
                [placeholder]="'user_password' | translate"
              />
            </div>
          </div>
          <div class="btn-row">
            <button type="submit" class="btn btn-login">
              {{ "login" | translate }}
            </button>
          </div>
        </div>
      </div>
    </form>
    <form [formGroup]="formApi">
      <div class="col-12 row mx-0 px-0" [hidden]="path['action'] != 'consent'">
        <div class="row" style="display: block; width: inherit">
          <div class="col">
            <ul
              class="list-group list-group-flush"
              style="max-height: 60vh;overflow-y: auto;overflow-x:hidden;"
              *ngFor="let groups of apiNodes"
            >
              <li class="list-group-item px-0">
                <div class="checkbox">
                  <div *ngIf="groups.apiDataList && groups.apiDataList.length>0">
                    <input type="checkbox" value="" (change)="menuChange($event, groups)" [formControlName]="groups.key"  >
                    <a class="btn" [ngClass]="{'collapsed':!isCollapsed}" data-toggle="collapse" [href]="'#mains' + groups.vgroupAliasShowUi" role="button"
                      [aria-expanded]="isCollapsed">
                      <label >{{ isValidStringStartWith_dp_(groups.vgroupAliasShowUi)? ("all"|translate) : (groups.vgroupAliasShowUi + "(" +  groups.vgroupId + ")")  }}
                        </label>
                        <span class="mr-3"></span>
                    </a>
                  </div>
                  <div *ngIf="!groups.apiDataList || groups.apiDataList.length==0">
                    <i class="fa fa-circle mr-2" ></i>
                    <label >{{ isValidStringStartWith_dp_(groups.vgroupAliasShowUi)? ("all"|translate) : (groups.vgroupAliasShowUi + "(" +  groups.vgroupId + ")")  }}
                    </label>
                  </div>
                </div>
                <div
                  class="collapse text-left" [ngClass]="{'show':isCollapsed}"
                  [id]="'mains' + groups.vgroupAliasShowUi"
                  *ngIf="groups.apiDataList && groups.apiDataList.length"
                >
                  <div
                    class="form-check"
                    class="list-group-item mb-3"
                    *ngFor="let sub of groups.apiDataList"
                  >
                    <input
                      type="checkbox"
                      (change)="menuChange($event, sub)"
                      class="form-check-input"
                      [id]="sub.key"
                      [formControlName]="sub.key"
                    />
                    <div
                      class="col"
                      style="margin-left: 10px; position: absolute; top: 15px"
                    >
                      <div>
                        <label
                          class="form-check-label"
                          [for]="sub.apiNameShowUi"
                        >
                          {{ sub.apiNameShowUi }} ({{ sub.groupId }})
                        </label>
                      </div>
                      <div *ngIf="sub.apiDesc">
                        <label class="form-check-label" [for]="sub.apiDesc">
                          {{ sub.apiDesc }}
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <hr />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </form>
    <div class="p-2 mx-5" [hidden]="path['action'] != 'consent'">
      <p>{{ "gtwidp_alert" | translate : { title: title } }}</p>
      <div class="felid-flex-center" >
        <button
        type="button"
        class="btn tpi-btn tpi-primary"
        (click)="apiConfirm()"
        >
        {{ "button.confirm" | translate }}
      </button>
      <button type="button" class="btn tpi-btn tpi-night" (click)="apiCancel()">
        {{ "button.cancel" | translate }}
      </button>
    </div>
    </div>
  </div>
  <div class="login-page" [hidden]="path['type'] !== 'errMsg'"
    style="position: absolute; top: 0; left: 0; background: white;">
    <div class="image-panel">
      <img class="img-building" src="assets/images/img_login_visual.png" />
    </div>
    <div class="loading-panel">
      <div  style="width: 380px">
          <section class="loading-section">
              <img
              class="img-logo"
              src="assets/images/DigiFusion_digiRunner_logo_horizontal.png"
              alt=""
              title="v202102251030-v3"
            />
            <div class="line">
              <label>{{ msg }}</label>
              <!-- <p-progressBar mode="indeterminate" *ngIf="processShow"></p-progressBar> -->
            </div>

            <button
              type="button"
              class="btn btn-login"
              (click)="returnToLogin()"
            >
              {{ "button.return" | translate }}
            </button>
          </section>
      </div>
    </div>
    <footer class="login-footer">
      <span>Copyright© TPIsoftware. All Rights Reserved.</span>
    </footer>
  </div>
</div>
