.datepicker-wrapper {
  --amount: 8;
  --check_size:16px;
  --box_size: calc(var(--check_size) + 12px);
  display: grid;
  grid-template-columns: repeat(var(--amount),var(--box_size));
  gap: 1rem;
  padding: 0.5rem;
}
.datepicker-wrapper .datepicker-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.datepicker-wrapper label{
  position: relative;
  margin-bottom: 0;
}

.datepicker-wrapper .datepicker-item input[type=checkbox]{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  opacity: 0;
  cursor: pointer;
  height: var(--check_size);
  width: var(--check_size);
  z-index: 1;
}
.datepicker-wrapper .datepicker-item input[type=checkbox] ~ label::before{
  display: block;
  content: "";
  background-color: transparent;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  z-index: -1;
  width: calc(var(--check_size) + 10px);
  height: calc(var(--check_size) + 10px);
  border-radius: 50%;
}

.datepicker-wrapper .datepicker-item input[type=checkbox]:not(:disabled):hover ~ label{
  color: var(--tpi-primary);
}
.datepicker-wrapper .datepicker-item input[type=checkbox]:not(:disabled):hover ~ label::before{
  background-color: #FFECE6;
}
.datepicker-wrapper .datepicker-item input[type=checkbox]:not(:disabled):checked ~ label{
  color: white;
}
.datepicker-wrapper .datepicker-item input[type=checkbox]:not(:disabled):checked ~ label::before{
  background-color: var(--tpi-orange);
}
.datepicker-wrapper .datepicker-item input[type=checkbox]:not(:disabled):checked:hover ~ label::before{
  opacity: 0.7;
}
.datepicker-wrapper .datepicker-item input[type=checkbox]:disabled ~ label{
  opacity: 0.7;
}
.datepicker-wrapper .datepicker-item input[type=checkbox]:disabled:checked ~ label{
  color: var(--tpi-orange);
  font-weight: 600;
  opacity: 1;
}
