.form-group label {
  background: #f6f6f6;
}
/* .border-line{
  border: 0;
  border-top:1px solid #ddd;
} */

.keyValueContent {
  background-color: #eee;
}

.keyValueContent label {
  background-color: #eee;
}

.example {
  background: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 3px;
  padding: 0.375rem 0.75rem;
  color: #333333;
  font-weight: 400;
  font-size: 0.8rem;
}
.page4-content {
  display: flex;
  gap: 0.5rem;
  .svg-panel,
  > form {
    width: 50%;
  }
  .svg-panel {
    --main-text-color: #343a40;
    --cus-color: #6096e7;
    --focus-stroke-opacity: 0;
    --step-opacity: 1;
    --step-color: var(--main-text-color);
    --font-weight:400;
    svg {
      width: 100%;
      max-width: 540px;
      transition: 0.3s;
      cursor: default;
      text.line-text{
        font-size: 16px;
        fill:var(--step-color);
        font-weight: var(--font-weight);
        font-family: Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif;
      }
      .step03 {
        --step-color: #6096e7;
      }
    }
    &.step02 {
      svg{
        .step01,.step03,.step04,.step05,.line01 {
          --step-opacity: 0.4;
        }
        .step02 {
          --font-weight:500;
          --focus-stroke-opacity: 1;
        }
      }
    }
    &.step04 {
      svg{
        .step01,.step02,.step03,.step05,.line01 {
          --step-opacity: 0.4;
        }
        .step04 {
          --font-weight:500;
          --focus-stroke-opacity: 1;
        }
      }
    }
  }
}
