input[type='checkbox'] {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    border-radius: 1px;
    box-sizing: border-box;
    position: relative;
    box-sizing: content-box;
    border: 1px solid orange;
    width: 20px;
    height: 20px;
    transition: all .2s linear;
}

input[type='checkbox']:checked {
    background-color: rgb(255, 198, 11);
}

.form-group label {
  background: #F6F6F6;
}
