<app-container
  [title]="currentTitle"
  [isDefault]="pageNum == 1"
  (headerReturn)="headerReturn()"
>
  <div [hidden]="pageNum != 1">
    <div class="form-group row">
      <div class="col-2">
        <label class="control-label">{{ "button.export" | translate }}

        </label>
        <div class="form-control border-line" style="background: #f6f6f6">
          <button
            type="button"
            class="btn tpi-btn tpi-primary"
            (click)="exportTsmpDpMailTpltClick()"
          >
            {{ "button.export" | translate }}
          </button>
        </div>
      </div>
      <div class="col-5">
        <label class="control-label"
          >{{ "button.import" | translate}}
          <i class="far fa-question-circle ml-2 " pTooltip='<ol style="padding-inline-start: 20px;margin-block-end: 0;"><li>{{"import_key_tip"|translate:{key:"CODE"} }}</li><li>{{"use_in_multi_language"|translate }}</li></ol>' [escape]="false"></i>
        </label>
        <div>
          <div class="ui-inputgroup">
            <input
              type="file"
              id="file"
              accept=".xlsx"
              (change)="changeFile($event)"
              style="display: none"
            />
            <input
              [value]="_file?.name"
              readonly
              type="text"
              class="form-control"
              (click)="openFileBrowser()"
              placeholder="{{ 'upload_file' | translate }}"
            />
            <button
              pButton
              type="button"
              icon="pi pi-file"
              class="ml-1 tpi-primary"
              (click)="openFileBrowser()"
            ></button>
            <button
              type="button"
              class="btn tpi-btn tpi-primary ml-2"
              (click)="uploadFile()"
              [disabled]="!_file"
            >
              {{ "button.upload" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />

</app-container>
<p-toast [style]="{ marginTop: '60px' }" position="top-left"></p-toast>
<p-confirmDialog
  #cd
  [style]="{ width: '50vw' }"
  icon="pi pi-exclamation-triangle"
  styleClass="cHeader cContent cIcon"
>
  <ng-template pTemplate="footer">
    <div class="row" style="justify-content: center">
      <button
        type="button"
        pButton
        icon="pi pi-check"
        [ngStyle]="{
          backgroundColor: 'var(--red-300)',
          'border-color': 'var(--red-300)'
        }"
        label="{{ 'button.confirm' | translate }}"
        (click)="cd.accept()"
      ></button>
      <button
        type="button"
        pButton
        icon="pi pi-times"
        class="p-button-secondary"
        label="{{ 'button.cancel' | translate }}"
        (click)="cd.reject()"
      ></button>
    </div>
  </ng-template>
</p-confirmDialog>
