// $topnav-background-color: #FAFAFA;

// .sidebar {
//   border-radius: 0;
//   position: fixed;
//   z-index: 999;
//   top: 56px;
//   left: 235px;
//   width: 295px;
//   margin-left: -235px;
//   margin-bottom: 30px;
//   border-right: 1px solid #ddd;
//   border-radius: 0;
//   overflow-y: auto;
//   background-color: $topnav-background-color;
//   bottom: 0;
//   overflow-x: hidden;
//   padding-bottom: 40px;
//   white-space: nowrap;
//   -webkit-transition: all 0.2s ease-in-out;
//   -moz-transition: all 0.2s ease-in-out;
//   -ms-transition: all 0.2s ease-in-out;
//   -o-transition: all 0.2s ease-in-out;
//   transition: all 0.2s ease-in-out;

//   // border-top: 1px solid rgba(255,255,255,0.3);
//   .list-group{
//     margin-top: 20px!important;
//   }

//   .sidebar-dropdown {
//     *:focus {
//       border-radius: none;
//       border: none;
//     }

//     .panel-title {
//       font-size: 1rem;
//       height: 50px;
//       margin-bottom: 0;

//       a {
//         color: #999;
//         text-decoration: none;
//         font-weight: 400;
//         background: $topnav-background-color;

//         span {
//           position: relative;
//           display: block;
//           padding: 23px 15px;
//           padding-top: 1rem;
//         }
//       }

//       a:hover,
//       a:focus {
//         color: #fff;
//         outline: none;
//         outline-offset: -2px;
//       }
//     }

//     .panel-title:hover {
//       background: darken($topnav-background-color, 5%);
//     }

//     .panel-collapse {
//       border-radius: 0;
//       border: none;

//       .panel-body {
//         .list-group-item {
//           border-radius: 0;
//           background-color: $topnav-background-color;
//           border: 0 solid transparent;

//           a {
//             color: #999;
//           }

//           a:hover {
//             color: #fff;
//           }
//         }

//         .list-group-item:hover {
//           background: darken($topnav-background-color, 5%);
//         }
//       }
//     }
//   }
// }



// @media screen and (max-width: 992px) {
//   .sidebar {
//     top: 54px;
//     left: -60px;
//   }
// }

// @media print {
//   .sidebar {
//     display: none !important;
//   }
// }

// @media (min-width: 992px) {
//   .header-fields {
//     display: none;
//   }
// }

// ::-webkit-scrollbar {
//   width: 8px;
// }

// ::-webkit-scrollbar-track {
//   -webkit-box-shadow: inset 0 0 0px rgba(255, 255, 255, 1);
//   border-radius: 3px;
// }

// ::-webkit-scrollbar-thumb {
//   border-radius: 3px;
//   -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 1);
// }

// .toggle-button {
//   position: fixed;
//   width: 236px;
//   cursor: pointer;
//   padding: 12px;
//   bottom: 0;
//   color: #999;
//   background: #212529;

//   i {
//     font-size: 23px;
//   }

//   &:hover {
//     background: darken($topnav-background-color, 5%);
//     color: #fff;
//   }

//   border-top: 1px solid #999;
//   -webkit-transition: all 0.2s ease-in-out;
//   -moz-transition: all 0.2s ease-in-out;
//   -ms-transition: all 0.2s ease-in-out;
//   -o-transition: all 0.2s ease-in-out;
//   transition: all 0.2s ease-in-out;
// }

// .collapsed {
//   width: 50px;

//   span {
//     display: none;
//   }
// }


