<div class="whitelist" #content>
  <div class="col-12 px-0">
    <div class="form-group field-flex-start">
      <div class="col-4 px-0">
        <label class="form-control border-bottomline">ID</label>
      </div>
      <div class="col-6 px-0">
        <label class="form-control border-bottomline control-label required" style="font-weight: bold;">{{'rule'|translate}}</label>
      </div>
    </div>
    <ng-template #whitelistDetail></ng-template>

    <button type="button" class="btn tpi-second" (click)="addWhitelistItem()" style="border-radius: 50%;">
      <i class="fa fa-plus"></i>
    </button>
  </div>
</div>
