$topnav-background-color: #fff;
.login-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #f6f6f6;
  /* Old browsers */
  // background: -moz-linear-gradient(top, #f49e00 0%, #ee7800 100%);
  // /* FF3.6-15 */
  // background: -webkit-linear-gradient(top, #f49e00 0%, #ee7800 100%);
  // /* Chrome10-25,Safari5.1-6 */
  // background: linear-gradient(to bottom, #f49e00 0%, #ee7800 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f49e00', endColorstr='#ee7800', GradientType=0);
  /* IE6-9 */
  text-align: center;
  // color: #fff;
}

.dashbordCard {
  height: 100%;
  .p-card-body{
    height: 100%!important;
  }
  .p-card-content{
    height: 100%!important;
  }
  background-color: rgb(216, 136, 31)!important;
  padding: 0px!important;
}



.p-card .p-card-body  {
  // height: 100%!important;
  // background-color: antiquewhite;
  height: 100%!important;
  padding: 0px!important;
}




// .tglbtn-dashboard:active{
//   color: #F3B647!important;
//   background: #FCF0D3!important;
//   border: 2px solid #F3B647!important;
// }

