<app-container [title]="currentTitle" [isDefault]="pageNum==1" (headerReturn)="headerReturn()">
    <div [hidden]="pageNum != 1">
        <form [formGroup]="form" (ngSubmit)="submitForm()">
            <div class="form-group row">
                <div class="col-4">
                    <label id="timeType_label" class="control-label">{{'time_unit'|translate}}</label>
                    <p-dropdown [showClear]="false" [options]="timeTypes" [filter]="false"
                        placeholder="{{'plz_chs' | translate}}" formControlName="timeType" [style]="{'width':'100%'}">
                    </p-dropdown>
                    <div *ngIf="timeType.invalid && (timeType.dirty || timeType.touched)" class="text-danger">
                        <small class="form-text">{{timeType.errors.isRequired}}</small>
                        <small class="form-text">{{timeType.errors.maxlength}}</small>
                        <small class="form-text">{{timeType.errors.minlength}}</small>
                        <small class="form-text">{{timeType.errors.max}}</small>
                        <small class="form-text">{{timeType.errors.min}}</small>
                        <small class="form-text">{{timeType.errors.pattern}}</small>
                    </div>
                </div>
                <div class="col-4">
                    <label id="startDate_label" class="control-label">{{ timeType.value == 'MINUTE' ? ('query_date'|translate) : ('start_date'|translate)}}</label>

                    <div style="display:block">
                        <p-calendar *ngIf="timeType.value != 'MONTH'" [style]="{'width':'100%'}" appendTo="body"
                            [inputStyle]="{'width':'95%'}" formControlName="startDate" dateFormat="yy/mm/dd"
                            [showIcon]="true" [readonlyInput]="true" [minDate]="minDate" [maxDate]="maxDate">
                        </p-calendar>
                        <p-calendar *ngIf="timeType.value == 'MONTH'" view="month" [style]="{'width':'100%'}" appendTo="body"
                            [inputStyle]="{'width':'95%'}" formControlName="startDate" dateFormat="yy/mm"
                            [showIcon]="true" [readonlyInput]="true" [minDate]="minDate" [maxDate]="maxDate"
                            >
                        </p-calendar>
                    </div>
                    <div *ngIf="startDate.invalid && (startDate.dirty || startDate.touched)" class="text-danger">
                        <small class="form-text">{{startDate.errors.isRequired}}</small>
                        <small class="form-text">{{startDate.errors.maxlength}}</small>
                        <small class="form-text">{{startDate.errors.minlength}}</small>
                        <small class="form-text">{{startDate.errors.max}}</small>
                        <small class="form-text">{{startDate.errors.min}}</small>
                        <small class="form-text">{{startDate.errors.pattern}}</small>
                    </div>
                </div>
                <div class="col-4">
                    <label id="endDate_label" class="control-label">{{ timeType.value == 'MINUTE'? ('date_range'|translate) : ('end_date'|translate)}}</label>
                    <div style="display:block">
                        <p-calendar *ngIf="timeType.value == 'DAY'" [style]="{'width':'100%'}" appendTo="body"
                            [inputStyle]="{'width':'95%'}" formControlName="endDate" dateFormat="yy/mm/dd"
                            [showIcon]="true" [readonlyInput]="true" [minDate]="minDate" [maxDate]="maxDate">
                        </p-calendar>
                        <p-calendar *ngIf="timeType.value == 'MONTH'" view="month" [style]="{'width':'100%'}" appendTo="body"
                            [inputStyle]="{'width':'95%'}" formControlName="endDate" dateFormat="yy/mm"
                            [showIcon]="true" [readonlyInput]="true" [minDate]="minDate" [maxDate]="maxDate">
                        </p-calendar>
                        <div *ngIf="timeType.value == 'MINUTE'">
                          <p-dropdown [options]="hourData" formControlName="startHour" placeholder="{{'plz_chs'|translate}}"></p-dropdown>
                          <label style="padding: 5px">H ~ </label>
                          <p-dropdown [options]="hourData" formControlName="endHour" placeholder="{{'plz_chs'|translate}}"></p-dropdown>
                          <label style="padding: 5px">H</label>
                        </div>
                    </div>
                    <div *ngIf="endDate.invalid && (endDate.dirty || endDate.touched)" class="text-danger">
                        <small class="form-text">{{endDate.errors.isRequired}}</small>
                        <small class="form-text">{{endDate.errors.maxlength}}</small>
                        <small class="form-text">{{endDate.errors.minlength}}</small>
                        <small class="form-text">{{endDate.errors.max}}</small>
                        <small class="form-text">{{endDate.errors.min}}</small>
                        <small class="form-text">{{endDate.errors.pattern}}</small>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12">
                    <label id="apiUidList_label" class="required control-label">{{'choose_api'|translate}}</label>
                    <button pButton type="button" icon="pi pi-search" class="tpi-night ms-2"
                        (click)="changePage('api_list');"></button>
                    <label class="form-control border-line" style="height: unset;">
                        <div *ngIf="apiNameList.value.length > 0" class="ui-chips ui-widget">
                            <ul class="ui-inputtext ui-state-default ui-corner-all">
                                <li *ngFor="let api of apiNameList.value;let idx = index;"
                                    class="ui-chips-token ui-state-highlight ui-corner-all"
                                    style="margin: 0 0.286em 0.3em 0;">
                                    <span class="ui-chips-token-icon pi pi-fw pi-times" (click)="deleteApi(idx);">
                                    </span>
                                    <span class="ui-chips-token-label">
                                        {{api}}
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12">
                    <button type="submit" class="btn tpi-btn tpi-primary float-start me-3"
                        [disabled]="form.invalid">{{'button.search'|translate}}</button>
                    <!-- <button type="button" class="btn tpi-btn tpi-primary float-start me-3" (click)="exportReport();"
                        [disabled]="form.invalid">{{'button.export'|translate}}</button> -->
                </div>
            </div>
        </form>
        <!-- <div id="div_canvas" style="width:75%;"> -->
        <div id="div_canvas" class="col-12 zoom">
            <!-- <canvas id="reportChart" style="width: 1320px;height: 400px;"></canvas> -->
            <canvas id="reportChart"></canvas>
            <!-- <canvas id="canvas"></canvas> -->
        </div>
    </div>
    <div [hidden]="pageNum != 2">
        <form [formGroup]="form">
            <div class="form-group d-flex col-auto">
                <!-- <div class="col-6">
                    <label class="control-label">{{'keyword_search'|translate}}</label>
                    <input type="text" formControlName="keyword" class="form-control"
                        placeholder="{{'api_name'|translate}}">
                </div> -->
                <span class="p-input-icon-right" style="width:40vw">
                  <i class="pi pi-search tpi-i-search" (click)="queryApiList();"></i>
                  <input type="search" class="form-control tpi-i-input" id="keyword" formControlName="keyword" (keydown.enter)="queryApiList()"
                    placeholder="{{'api_name'|translate}}">
                </span>

            </div>
            <!-- <div class="form-group row">
                <div class="col-12">
                    <button type="button" class="btn tpi-btn tpi-primary float-start me-3"
                        (click)="queryApiList();">{{'button.search'|translate}}</button>
                </div>
            </div> -->
        </form>
        <hr>
        <p-table *ngIf="apiListCols" [columns]="apiListCols" [value]="apiListData" selectionMode="single"
            [(selection)]="selectedApi" [style]="{'word-break':'break-word'}" responsiveLayout="Scroll">
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col style="width: 2.25em">
                    <col *ngFor="let col of columns" [style.width]="col.width">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: 2.25em" scope="col">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th *ngFor="let col of columns" scope="col">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <!-- [pSelectableRow]="rowData" 控制高亮 -->
                <tr>
                    <td>
                        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                    </td>
                    <td *ngFor="let col of columns" [style.width]="col.width">
                        <span *ngIf="col.field == 'apiName'">
                            ({{rowData['apiKey']}},{{rowData['moduleName']}}) - {{rowData['apiName']}}
                        </span>
                        <span *ngIf="col.field != 'apiName'">
                            {{ rowData[col.field] }}
                        </span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer" let-columns>
                <tr *ngIf="apiListRowcount">
                    <td [attr.colspan]="columns.length+1" style="color: #b7b7b7;">
                        <span style="vertical-align:middle;">{{'row_count' | translate}}: {{apiListRowcount}}</span>
                        <!-- <button type="button" class="btn btn-warning pull-right ms-3"
                            (click)="moreApiList();">{{'button.more'|translate}}</button> -->


                            <!-- 查詢更多 -->
                            <button  type="button" class="btn tpi-header-return" (click)="moreApiList()">{{ 'button.more'| translate}}
                            <i class="fas fa-angle-double-right" style="margin-left: 5px;"></i>
                            </button>

                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="columns.length+1">
                        {{'no_rec' | translate}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <br>
        <div class="form-gruop row">
            <div class="col-12 col-xl-12 col-lg-12">
                <button type="button" class="btn tpi-btn tpi-primary float-start me-3" (click)="chooseApi();"
                    [disabled]="selectedApi.length == 0">{{'button.confirm'|translate}}</button>
                <button type="button" class="btn tpi-btn tpi-primary float-start me-3"
                    (click)="changePage('query');">{{'button.return_to_list'|translate}}</button>
            </div>
        </div>
    </div>
</app-container>
<p-toast [style]="{marginTop: '60px'}" position="top-left"></p-toast>
