table tbody>tr>td {
    padding: 5px;
    background: inherit;
    border: 1px solid #c8c8c8;
}

table>tbody>tr:nth-child(odd) {
    background-color: #ffffff;
}

table>tbody>tr:nth-child(even) {
    background-color: #F9F9F9;
}

/* .tpi-op.p-overlaypanel-content{
  background-color: darkolivegreen;
  padding: 0px;
} */

// .tpi-op.p-overlaypanel.p-overlaypanel-content{
//   background-color: darkolivegreen;
//   padding: 0px!important;
// }

// .tpi-op{
//   ::v-deep .p-overlaypanel-content{
//     padding: 0px;
//   }
// }

// ::ng-deep .p-overlaypanel-content{
//   padding: 0px;
// }

// .p-overlaypanenl-content{
//   padding: 0px !important;
// }
::ng-deep .tpi-op.p-overlaypanel{
  .p-overlaypanel-content{
       padding: 0px;
     }
}
