<app-container [title]="currentTitle">
  <div>

    <form [formGroup]="form">
      <div class="form-group row">
        <div class="col-3">
          <label id="status_label" class="control-label">Enable</label>
          <div class="p-form-check-line">
            <ng-container>
              <div class="p-form-check">
                <p-radioButton formControlName="status" value="Y"  inputId="statusY"></p-radioButton>
                <label for="statusY" class="ms-2 mb-0">Y</label>
              </div>
              <div class="p-form-check">
                <p-radioButton formControlName="status" value="N"  inputId="statusN"></p-radioButton>
                <label for="statusN" class="ms-2 mb-0">N</label>
              </div>
            </ng-container>
          </div>
          <div *ngIf="status?.invalid && (status?.dirty || status?.touched)" class="text-danger">
            <small class="form-text">{{status?.errors.pattern | translate}}</small>
            <small class="form-text">{{status?.errors.isRequired | translate}}</small>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <label id="status_label" class="control-label">Allow List</label><i
          class="far fa-question-circle ms-2"
          pTooltip="{{ 'allowlist_rule_tip' | translate }}" [escape]="false"></i>
          <app-white-list-form formControlName="dataList"></app-white-list-form>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-12">
          <button type="button" class="btn tpi-btn tpi-primary float-start me-2"
            [disabled]="!form.valid" (click)="update();">{{'button.update'|translate}}</button>
        </div>
      </div>
    </form>

  </div>

</app-container>
<p-toast [style]="{marginTop: '60px'}" position="top-left"></p-toast>
<p-confirmDialog #cd [style]="{width: '50vw'}" icon="pi pi-exclamation-triangle" styleClass="cHeader cContent cIcon">
  <ng-template pTemplate="footer">
    <div class="row" style="justify-content: center;">
      <button type="button" pButton icon="pi pi-check"
        [ngStyle]="{backgroundColor:'var(--red-300)','border-color':'var(--red-300)'}"
        label="{{'button.confirm' | translate}}" (click)="cd.accept()"></button>
      <button type="button" pButton icon="pi pi-times" class="p-button-secondary"
        label="{{'button.cancel' | translate}}" (click)="cd.reject()"></button>
    </div>
  </ng-template>
</p-confirmDialog>
