// @font-face {
//   font-family: "Inter";
//   src: url(assets/fonts/Inter.ttf);
// }

:root {
  --tpi-primary:#EA7448;
  --tpi-orange:#FFAC00;
  --tpi-second:#6096E7;
  --tpi-focus-color: #f8cb72;

  --text-color: #5A5541;
  --font-size: 1rem;

  --sidebar-w: 236px;
  --header-h: 46px;
  --footer-h: 24px;
  --layout-border:1px solid #DEDEDE;

  --dgr-color:#EA7448;

}

// * {
//   outline: none;
// }

// :focus {
//   outline: 0;
// }

html {
  height: 100%;
  font-size: 100%; //預留以後整站文字縮放
}

body {
  min-height: 100%;
  background: #F6F6F6;
  color: var(--text-color);
  font-size: var(--font-size);
  position: relative;
  z-index: 0;

  .p-component,.pi,.p-inputtext {
    --font-size: 0.8rem;
    font-size: var(--font-size);
  }
  // overflow: visible;
  // font-family: 'Inter', PingFangSC-Regular, sans-serif;
  // font-weight: 400;
  // zoom: 80%;
  &:has(.login-center-page,.loading-panel){
    background: white;
  }
}

/* 自訂網站的捲軸 Firefox 和 IE 不支援 */

::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
  height: 16px;
}
::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {
  display: none;
}

.page-title {
  font-size: 1.4rem;
  margin-bottom: 0;
}
@import "./layout/_login";
@import "./layout/login-center";
@import "./layout/layout";
@import "./custom/custom-bootstrap";
@import "./custom/custom-prime";
@import "./custom/button";

@import "./custom/form-element";
@import "./custom/swal2";


.field-flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.field-flex-center {
  --gap: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
}
.field-flex-start {
  --gap: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap);
}
.field-flex-space-between {
  --gap: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap);
}
.field-flex-column-center {
  --gap: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
}
.field-flex-column {
  --gap: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap);
}



*::-ms-backdrop, body {
  zoom: 1;
}

// .btn.mr-5 {
//   margin-right: 5px !important;
// }

// .btn.mr-10 {
//   margin-right: 10px;
// }



.swal2-container {
  z-index: 10001!important;
}

.small, small {
  font-size: 0.7rem;
}

.border-topline {
  border: 0;
  border-top: 1px solid #ddd;
}

.form-group .required.control-label:after {
  content: "*";
  color: red;
}

.form-group>div>label:first-child {
  font-weight: bolder;
}
/* primeng table的欄位 */

// body .ui-table .ui-table-tbody>tr>td {
//   padding: 0.2229em 0.857em !important;
// }

/* .swal2-popup .swal2-styled:focus {
  box-shadow: none;
} */


.list-group-item.active {
  background-color: #d98600 !important;
  border-color: #d98600 !important;
  color: #fff !important;
}

// body .ui-button.ui-state-default.ui-button-warning, body .ui-buttonset.ui-button-warning>.ui-button.ui-state-default {
//   color: #fff !important;
//   background-color: #F49E00 !important;
//   border: 1px solid #F49E00 !important;
// }

// body .ui-button.ui-calendar-button, body .ui-button.ui-state-active, .swal2-popup .swal2-styled.swal2-confirm {
//   /* background-color: #F49E00 !important;
//   border: #F49E00 !important; */
//   border-radius: 50px;
//   min-width: 84px;
//   font-size: 16px ;
//   font-weight: 600;
//   color: #FF6E38!important;
//   background: #FFE1D6!important;
//   border: #FFE1D6!important;
// }

// body .ui-button:enabled:hover, .swal2-popup .swal2-styled.swal2-confirm:hover {
//   /* background-color: #d98600 !important;
//   border-color: #d98600 !important; */
//   color: #FFFFFF!important;
//   background: #FF6E38!important;
//   outline: none;
// }
input[type='radio']{
  cursor: pointer;
  &:after {
    width: 23px;
    height: 23px;
    border-radius: 12px;
    top: -4px;
    left: -6px;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
  }
  &:enabled {
    &:after {
      background-color: #888888;
      border: 2px solid #888888;
    }
    &:hover:after {
      background-color: #FFAC00;
      border: 2px solid #888;
      box-shadow: inset 0 0 0 3px white;
      opacity: 1;
    }
    &:checked {
        &:after {
        background-color: #FFAC00;
        border: 2px solid #FFAC00;
        box-shadow: inset 0 0 0 3px white;
        opacity: 1;
      }
      &:hover::after {
        background-color: #ff5900;
        border: 2px solid #FFAC00;
        box-shadow: inset 0 0 0 3px white;
        opacity: 1;
      }
    }
  }
  &:disabled{
    &:after {
      background-color: #bababa;
      border: 2px solid #bababa;
      opacity:0.8;
    }
    &:checked:after {
      background-color: #ffd37c;
      border: 2px solid #bababa;
      box-shadow: inset 0 0 0 3px white;
      opacity: 1;
    }
  }
}



.bluerdo[type='radio']:checked:after{
  width: 23px;
  height: 23px;
  border-radius: 12px;
  top: -4px;
  left: -6px;
  position: relative;
  background-color: #6096E7;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #6096E7;
  box-shadow: inset 0 0 0 3px white;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: .2s;
}

.redrdo[type='radio']:checked:after{
  width: 23px;
  height: 23px;
  border-radius: 12px;
  top: -4px;
  left: -6px;
  position: relative;
  background-color: #EA7448;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #EA7448;
  box-shadow: inset 0 0 0 3px white;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: .2s;
}


.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: .5s;
}

@keyframes fadeInOpacity {
  0% {
      opacity: .8;
  }
  100% {
      opacity: 1;
  }
}

div.cus_label .ui-multiselect-label {
  padding-bottom: 0!important;
}

/* _reboot.scss 影響了 b, strong */

b, strong {
  font-weight: bold !important;
}


/* 客製API列表查詢畫面下，JWT設定(req/resp)dropdown Style */

/* .jwt-req-dropdown .ui-dropdown .ui-dropdown-label {
  background-color: #ffa5009e !important;
} */
.jwt-req-dropdown .p-dropdown {
  background-color: #FFF0D1 !important;
  border: 1px solid #FFAC00;
}

.jwt-req-dropdown .p-dropdown .p-dropdown-label{
  color: #FFAC00;
}

/* .jwt-req-dropdown .p-dropdown-panel .P-dropdown-items {
  background-color: #ffa5009e !important;
} */

.jwt-req-dropdown .p-dropdown-panel .p-dropdown-items:not(.p-dropdown-virtualscroll) {
  background-color: #FFF0D1;
}

.jwt-req-dropdown .p-dropdown-panel .p-dropdown-items .p-dropdown-item{
  color: #FFAC00;
}

.jwt-req-dropdown .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: #fff;
  background-color: orange !important;
}

/* .jwt-req-dropdown .p-dropdown .p-dropdown-trigger {
  background-color: unset !important;
} */

.jwt-resp-dropdown .p-dropdown  {
  background-color: #D4E0F3 !important;
  border: 1px solid #6096E7;
}

.jwt-resp-dropdown .p-dropdown .p-dropdown-label{
  color: #6096E7;
}

.jwt-resp-dropdown .p-dropdown-panel .p-dropdown-items:not(.p-dropdown-virtualscroll) {
  background-color: #007ad97a !important;
}

.jwt-resp-dropdown .p-dropdown-panel .p-dropdown-items .p-dropdown-item{
  color: #434343;
}

/* .jwt-resp-dropdown .p-dropdown .p-dropdown-trigger {
  background-color: unset !important;
} */
/* ul.dd-list{
  background: #fafafa;
} */
ul li .nestable-item-container{
  cursor:unset!important;
  background: #fff;
}
ul li .nestable-item-container:hover{
  background: #bbb;
}


/* Deprecated Grid CSS */
.ui-grid {
  clear: both;
  padding: 0;
  margin: 0;
}

.ui-grid::before,
.ui-grid::after {
  content:"";
  display:table;
}

.ui-grid::after {
  clear:both;
}

.ui-grid .ui-grid-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  clear:both;
}

.ui-grid-row::after {
  clear: both;
  content: "";
  display: table;
}

.ui-grid-col-1,
.ui-grid-col-2,
.ui-grid-col-3,
.ui-grid-col-4,
.ui-grid-col-5,
.ui-grid-col-6,
.ui-grid-col-7,
.ui-grid-col-8,
.ui-grid-col-9,
.ui-grid-col-10,
.ui-grid-col-11,
.ui-grid-col-12 {
  float: left;
  box-sizing: border-box;
}

.ui-grid-col-1 {
  width: 8.33333%;
}

.ui-grid-col-2 {
  width: 16.66666%;
}

.ui-grid-col-3 {
  width: 25%;
}

.ui-grid-col-4 {
  width: 33.33333%;
}

.ui-grid-col-5 {
  width: 41.66666%;
}

.ui-grid-col-6 {
  width: 50%;
}

.ui-grid-col-7 {
  width: 58.33333%;
}

.ui-grid-col-8 {
  width: 66.66666%;
}

.ui-grid-col-9 {
  width: 75%;
}

.ui-grid-col-10 {
  width: 83.33333%;
}

.ui-grid-col-11 {
  width: 91.66666%;
}

.ui-grid-col-12 {
  width: 100%;
}

@media (min-width: 480px) {
  .ui-grid-fixed {
      width: 480px;
  }
}

@media (min-width: 768px) {
  .ui-grid-fixed {
      width: 768px;
  }
}

@media (min-width: 960px) {
  .ui-grid-fixed {
      width: 960px;
  }
}

@media (min-width: 1024px) {
  .ui-grid-fixed {
      width: 1024px;
  }
}

/* Responsive */
@media (max-width: 640px) {
  .ui-grid-responsive .ui-grid-row {
      display: block;
  }

  .ui-grid-responsive .ui-grid-col-1,
  .ui-grid-responsive .ui-grid-col-2,
  .ui-grid-responsive .ui-grid-col-3,
  .ui-grid-responsive .ui-grid-col-4,
  .ui-grid-responsive .ui-grid-col-5,
  .ui-grid-responsive .ui-grid-col-6,
  .ui-grid-responsive .ui-grid-col-7,
  .ui-grid-responsive .ui-grid-col-8,
  .ui-grid-responsive .ui-grid-col-9,
  .ui-grid-responsive .ui-grid-col-10,
  .ui-grid-responsive .ui-grid-col-11,
  .ui-grid-responsive .ui-grid-col-12 {
      width: 100%;
      float: none;
  }
}

.ui-grid.ui-grid-pad > .ui-grid-row > div {
  padding: .25em .5em;
}

/* Responsive */
@media (max-width: 640px) {
  .ui-grid-responsive .ui-grid-row {
      display: block;
  }

  .ui-grid-responsive .ui-grid-col-1,
  .ui-grid-responsive .ui-grid-col-2,
  .ui-grid-responsive .ui-grid-col-3,
  .ui-grid-responsive .ui-grid-col-4,
  .ui-grid-responsive .ui-grid-col-5,
  .ui-grid-responsive .ui-grid-col-6,
  .ui-grid-responsive .ui-grid-col-7,
  .ui-grid-responsive .ui-grid-col-8,
  .ui-grid-responsive .ui-grid-col-9,
  .ui-grid-responsive .ui-grid-col-10,
  .ui-grid-responsive .ui-grid-col-11,
  .ui-grid-responsive .ui-grid-col-12 {
      width: 100%;
      float: none;
  }
}

/* New Grid CSS */
.ui-g {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.ui-g::after {
  clear: both;
  content: "";
  display: table;
  box-sizing: border-box;
}

.ui-g-1,
.ui-g-2,
.ui-g-3,
.ui-g-4,
.ui-g-5,
.ui-g-6,
.ui-g-7,
.ui-g-8,
.ui-g-9,
.ui-g-10,
.ui-g-11,
.ui-g-12 {
  float: left;
  box-sizing: border-box;
  padding: 0.5em;
}

.ui-g-1 {
  width: 8.3333%;
}

.ui-g-2 {
  width: 16.6667%;
}

.ui-g-3 {
  width: 25%;
}

.ui-g-4 {
  width: 33.3333%;
}

.ui-g-5 {
  width: 41.6667%;
}

.ui-g-6 {
  width: 50%;
}

.ui-g-7 {
  width: 58.3333%;
}

.ui-g-8 {
  width: 66.6667%;
}

.ui-g-9 {
  width: 75%;
}

.ui-g-10 {
  width: 83.3333%;
}

.ui-g-11 {
  width: 91.6667%;
}

.ui-g-12 {
  width: 100%;
}

.ui-g-offset-12 {
margin-left: 100%;
}

.ui-g-offset-11 {
margin-left: 91.66666667%;
}

.ui-g-offset-10 {
margin-left: 83.33333333%;
}

.ui-g-offset-9 {
margin-left: 75%;
}

.ui-g-offset-8 {
margin-left: 66.66666667%;
}

.ui-g-offset-7 {
margin-left: 58.33333333%;
}

.ui-g-offset-6 {
margin-left: 50%;
}

.ui-g-offset-5 {
margin-left: 41.66666667%;
}

.ui-g-offset-4 {
margin-left: 33.33333333%;
}

.ui-g-offset-3 {
margin-left: 25%;
}

.ui-g-offset-2 {
margin-left: 16.66666667%;
}

.ui-g-offset-1 {
margin-left: 8.33333333%;
}

.ui-g-offset-0 {
margin-left: 0%;
}

@media screen and (max-width: 40em) {
  .ui-sm-1,
  .ui-sm-2,
  .ui-sm-3,
  .ui-sm-4,
  .ui-sm-5,
  .ui-sm-6,
  .ui-sm-7,
  .ui-sm-8,
  .ui-sm-9,
  .ui-sm-10,
  .ui-sm-11,
  .ui-sm-12 {
      padding: 0.5em;
  }

  .ui-sm-1 {
      width: 8.3333%;
  }

  .ui-sm-2 {
      width: 16.6667%;
  }

  .ui-sm-3 {
      width: 25%;
  }

  .ui-sm-4 {
      width: 33.3333%;
  }

  .ui-sm-5 {
      width: 41.6667%;
  }

  .ui-sm-6 {
      width: 50%;
  }

  .ui-sm-7 {
      width: 58.3333%;
  }

  .ui-sm-8 {
      width: 66.6667%;
  }

  .ui-sm-9 {
      width: 75%;
  }

  .ui-sm-10 {
      width: 83.3333%;
  }

  .ui-sm-11 {
      width: 91.6667%;
  }

  .ui-sm-12 {
      width: 100%;
  }

  .ui-sm-offset-12 {
    margin-left: 100%;
  }

  .ui-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  .ui-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  .ui-sm-offset-9 {
    margin-left: 75%;
  }

  .ui-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  .ui-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  .ui-sm-offset-6 {
    margin-left: 50%;
  }

  .ui-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  .ui-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  .ui-sm-offset-3 {
    margin-left: 25%;
  }

  .ui-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  .ui-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  .ui-sm-offset-0 {
    margin-left: 0%;
  }
}

@media screen and (min-width: 40.063em) {
  .ui-md-1,
  .ui-md-2,
  .ui-md-3,
  .ui-md-4,
  .ui-md-5,
  .ui-md-6,
  .ui-md-7,
  .ui-md-8,
  .ui-md-9,
  .ui-md-10,
  .ui-md-11,
  .ui-md-12 {
      padding: 0.5em;
  }

  .ui-md-1 {
      width: 8.3333%;
  }

  .ui-md-2 {
      width: 16.6667%;
  }

  .ui-md-3 {
      width: 25%;
  }

  .ui-md-4 {
      width: 33.3333%;
  }

  .ui-md-5 {
      width: 41.6667%;
  }

  .ui-md-6 {
      width: 50%;
  }

  .ui-md-7 {
      width: 58.3333%;
  }

  .ui-md-8 {
      width: 66.6667%;
  }

  .ui-md-9 {
      width: 75%;
  }

  .ui-md-10 {
      width: 83.3333%;
  }

  .ui-md-11 {
      width: 91.6667%;
  }

  .ui-md-12 {
      width: 100%;
  }

  .ui-md-offset-12 {
    margin-left: 100%;
  }

  .ui-md-offset-11 {
    margin-left: 91.66666667%;
  }

  .ui-md-offset-10 {
    margin-left: 83.33333333%;
  }

  .ui-md-offset-9 {
    margin-left: 75%;
  }

  .ui-md-offset-8 {
    margin-left: 66.66666667%;
  }

  .ui-md-offset-7 {
    margin-left: 58.33333333%;
  }

  .ui-md-offset-6 {
    margin-left: 50%;
  }

  .ui-md-offset-5 {
    margin-left: 41.66666667%;
  }

  .ui-md-offset-4 {
    margin-left: 33.33333333%;
  }

  .ui-md-offset-3 {
    margin-left: 25%;
  }

  .ui-md-offset-2 {
    margin-left: 16.66666667%;
  }

  .ui-md-offset-1 {
    margin-left: 8.33333333%;
  }

  .ui-md-offset-0 {
    margin-left: 0%;
  }
}

@media screen and (min-width: 64.063em) {
  .ui-lg-1,
  .ui-lg-2,
  .ui-lg-3,
  .ui-lg-4,
  .ui-lg-5,
  .ui-lg-6,
  .ui-lg-7,
  .ui-lg-8,
  .ui-lg-9,
  .ui-lg-10,
  .ui-lg-11,
  .ui-lg-12 {
      padding: 0.5em;
  }

  .ui-lg-1 {
      width: 8.3333%;
  }

  .ui-lg-2 {
      width: 16.6667%;
  }

  .ui-lg-3 {
      width: 25%;
  }

  .ui-lg-4 {
      width: 33.3333%;
  }

  .ui-lg-5 {
      width: 41.6667%;
  }

  .ui-lg-6 {
      width: 50%;
  }

  .ui-lg-7 {
      width: 58.3333%;
  }

  .ui-lg-8 {
      width: 66.6667%;
  }

  .ui-lg-9 {
      width: 75%;
  }

  .ui-lg-10 {
      width: 83.3333%;
  }

  .ui-lg-11 {
      width: 91.6667%;
  }

  .ui-lg-12 {
      width: 100%;
  }

  .ui-lg-offset-12 {
    margin-left: 100%;
  }

  .ui-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  .ui-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  .ui-lg-offset-9 {
    margin-left: 75%;
  }

  .ui-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  .ui-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  .ui-lg-offset-6 {
    margin-left: 50%;
  }

  .ui-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  .ui-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  .ui-lg-offset-3 {
    margin-left: 25%;
  }

  .ui-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  .ui-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  .ui-lg-offset-0 {
    margin-left: 0%;
  }
}

@media screen and (min-width: 90.063em) {
  .ui-xl-1,
  .ui-xl-2,
  .ui-xl-3,
  .ui-xl-4,
  .ui-xl-5,
  .ui-xl-6,
  .ui-xl-7,
  .ui-xl-8,
  .ui-xl-9,
  .ui-xl-10,
  .ui-xl-11,
  .ui-xl-12 {
      padding: 0.5em;
  }

  .ui-xl-1 {
      width: 8.3333%;
  }

  .ui-xl-2 {
      width: 16.6667%;
  }

  .ui-xl-3 {
      width: 25%;
  }

  .ui-xl-4 {
      width: 33.3333%;
  }

  .ui-xl-5 {
      width: 41.6667%;
  }

  .ui-xl-6 {
      width: 50%;
  }

  .ui-xl-7 {
      width: 58.3333%;
  }

  .ui-xl-8 {
      width: 66.6667%;
  }

  .ui-xl-9 {
      width: 75%;
  }

  .ui-xl-10 {
      width: 83.3333%;
  }

  .ui-xl-11 {
      width: 91.6667%;
  }

  .ui-xl-12 {
      width: 100%;
  }

  .ui-xl-offset-12 {
    margin-left: 100%;
  }

  .ui-xl-offset-11 {
    margin-left: 91.66666667%;
  }

  .ui-xl-offset-10 {
    margin-left: 83.33333333%;
  }

  .ui-xl-offset-9 {
    margin-left: 75%;
  }

  .ui-xl-offset-8 {
    margin-left: 66.66666667%;
  }

  .ui-xl-offset-7 {
    margin-left: 58.33333333%;
  }

  .ui-xl-offset-6 {
    margin-left: 50%;
  }

  .ui-xl-offset-5 {
    margin-left: 41.66666667%;
  }

  .ui-xl-offset-4 {
    margin-left: 33.33333333%;
  }

  .ui-xl-offset-3 {
    margin-left: 25%;
  }

  .ui-xl-offset-2 {
    margin-left: 16.66666667%;
  }

  .ui-xl-offset-1 {
    margin-left: 8.33333333%;
  }

  .ui-xl-offset-0 {
    margin-left: 0%;
  }
}

.ui-g-nopad {
  padding: 0;
}

.ui-inputgroup{
  display: flex;
}

.ui-helper-clearfix::after,.ui-helper-clearfix::before{content:"";display:table}.ui-helper-clearfix::after{clear:both}.ui-helper-clearfix{zoom:1}
.ui-g{display:flex;flex-wrap:wrap;box-sizing:border-box}.ui-g::after{clear:both;content:"";display:table;box-sizing:border-box}
/* .ui-g{display:flex;flex-wrap:wrap;box-sizing:border-box}.ui-g::after{clear:both;content:"";display:table;box-sizing:border-box} */

.p-card {
  /* background: #FFF6F2!important; */
  background: #FFFFFF;
}

.p-card .p-card-header {
  background: #FF6E38;
  color:#fff;
  border-radius: 5px 5px 0px 0px;
  min-height: 42px;
  padding: 10px;
 }

 .summary .p-card .p-card-header {
  background: #666666;
  color:#fff;
  border-radius: 5px 5px 0px 0px;
  min-height: 42px;
  padding: 10px;
 }

 .runningnode .p-card .p-card-header {
  background: #6096E7;
  color:#fff;
  border-radius: 5px 5px 0px 0px;
  min-height: 42px;
  padding: 10px;
 }

 .lostnode .p-card .p-card-header {
  background: #EA7448;
  color:#fff;
  border-radius: 5px 5px 0px 0px;
  min-height: 42px;
  padding: 10px;
 }

 .audit .p-card .p-card-header {
  background: #434343;
  color:#fff;
  border-radius: 5px 5px 0px 0px;
  min-height: 42px;
  padding: 10px;
 }

 .tpi-card-content .p-card .p-card-content {
  padding: 0rem 0;
  height: 100%;
}
.tpi-card-content .p-card .p-card-body {
  height: 100%;
}

.tpi-card-content .p-card.p-component{
  height: 100%!important;
}

.cHeader.p-dialog .p-dialog-header{
  color: #ffffff;
  background: #434343;
  padding: 0.5rem;
}
.cContent.p-dialog .p-dialog-content{
  background: #f6f6f6;
  padding: 0.5rem;
}


/* :host ::ng-deep .cContent.p-confirm-dialog .p-dialog-content{
   background: #f8b7bd;
} */

.cIcon.p-dialog.p-confirm-dialog .p-confirm-dialog-icon{
color: #f94949;
}

.cChkbox .form-group label{
  margin-bottom: 0px!important;
}

.tpi-i-search:hover{
  cursor: pointer !important;
  color: #EA7448!important;
  /* background: #FCD8CA!important; */
  border: #EA7448!important;
}

.tpi-i-input{
  padding-right: 30px;
}

/* ::ng-deep .p-overlaypanel-content{
  padding: 0px;
} */





.p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even) {
  background: #FAFAFA;
}

.p-datatable .p-datatable-tbody > tr {
  background: #ffffff;
}

.p-calendar-w-btn .p-datepicker-trigger{
  margin-left: 2px;
  color: #fff!important;
  background: #666666!important;
  border: 1px solid #666666!important;
  border-radius: 5px!important;
}
.p-calendar-w-btn .p-datepicker-trigger:hover{
  color: #EA7448!important;
  background: #FCD8CA!important;
  border: 1px #EA7448!important;
}
.tpi-dark-header{
    background: #666666;
    color:#ffffff;
}

.tpi-night{
  background: #666666!important;
  color: #fff!important;
  border: #666666!important;;

}

.tpi-night:hover{
  color: #EA7448!important;
  background: #FCD8CA!important;
  border: #EA7448!important;
}

.tpi-dark{
  background: unset!important;
  /* border: 1px solid #DEDEDE!important; */
  border: unset!important;
  /* border-radius: 5px; */
  color: #DEDEDE!important;
}

.tpi-dark:hover{
  background: #666666!important;
  border: 1px solid #DEDEDE!important;
  border-radius: 5px;
  color: #fff!important;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: #EA7448;
  border-color: #EA7448;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link:has(.tab-img){
  /* background-color: white; */
  border-width: 1px 1px 0 1px;
  padding: 0.5rem 0.8rem;
}
.p-tabview .p-tabview-nav-btn.p-link{
  background: #666666;
}
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link,.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus{
  box-shadow: none;
}

.p-tabview .p-tabview-nav li{
  margin-right: 4px;
 }
 .p-highlight .tab-img{
   filter: brightness(10);
 }

.moreless{
  cursor: pointer;
  color: #6096e7 !important;
}

p-inputswitch{
  background: #f6f6f6!important;

}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background: #468CF4!important;
}
.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
  background: #CEE0FC!important;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover{
  border-color: #ff5900;
  background: #ff5900;
}
.p-checkbox .p-checkbox-box.p-highlight {
  border-color: #FFAC00;
  background: #FFAC00;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus{
  box-shadow: 0 0 0 0.2rem var(--tpi-focus-color);
  border-color: #FFAC00;
}
.p-radiobutton .p-radiobutton-box {
  border: 1px solid #a6a6a6;
  background: #a6a6a6;
}
.p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover{
  border-color: #ff5900;
  background: white;
}
.p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover .p-radiobutton-icon{
  background-color: #ff5900;
}
.p-radiobutton .p-radiobutton-box.p-highlight {
  border-color: #FFAC00;
  background: white;
}
.p-radiobutton:not(.p-radiobutton-disabled) .p-radiobutton-box.p-focus{
  box-shadow: 0 0 0 0.2rem var(--tpi-focus-color);
  border-color: #FFAC00;
}
.p-radiobutton .p-radiobutton-box .p-radiobutton-icon{
  background-color: #FFAC00;
}
/* .p-checkbox-label{
  margin-left: 0.2rem !important;
} */
.p-form-check{
  display: flex;
}
.p-form-check-line{
  display: flex;
  gap:1rem;
}
.p-progressbar .p-progressbar-value{
  background: #EA7448!important;
}

.tpi-dashboard {
  color: #C4C4C4;
  background: #FFFFFF;
  border: 2px solid #C4C4C4;
}

.tpi-dashboard:hover {
  color: #F3B647;
  background: #FCF0D3;
  border: 2px solid #F3B647;
}



  /* .p-togglebutton.p-button.p-highlight{
    color: #F3B647!important;
    background: #FCF0D3!important;
    border: 2px solid #F3B647!important;
  }
  .p-togglebutton.p-button{
    border-radius: 50px;
    min-width: 84px;
    font-size: 16px ;
    font-weight: 600;
    color: #C4C4C4!important;
    background: #FFFFFF!important;
    border: 2px solid #C4C4C4!important;
  } */



  .p-chips{
    display: contents!important;
    width: 100%!important;
  }

  .p-chips .p-chips-multiple-container .p-chips-token {
    background-color: #EA7448!important;
  }

  /* .p-datatable .p-datatable-tbody > tr.p-highlight  {
    background-color: #EA7448!important;
  }

  .p-checkbox .p-checkbox-box.p-highlight{
    background-color: #EA7448!important;
  } */

.p-dialog .p-dialog-footer {
  text-align: center!important;
}






.p-dropdown{
  border: 1px solid #ced4da;
}

.pre-code-style {
  width: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 0.8rem;
  padding: 0.5rem;
  /* font-style: italic; */
  color: #434343;
  border-radius: 2px;
  border: 1px solid #ced4da;
  background-color: #e9ecef;
  border-radius: 8px;
}

.pdivider .p-divider .p-divider-content {
  background-color: unset;
}
/* 關閉多選下拉選單的highlight */
.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
  color: inherit;
  background: transparent;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item:focus{
  box-shadow: inset 0 0 0 0.15rem var(--tpi-focus-color);
}
.p-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem var(--tpi-focus-color);
  border-color: var(--tpi-primary);
}
.p-button:focus {
  box-shadow: 0 0 0 0.2rem var(--tpi-focus-color);
}

.tab .p-tabview .p-tabview-panels{
  background-color: unset;
}

.p-multiselect.p-multiselect-chip .p-multiselect-token {
  background: #EA7448!important;
}

.tooltip-custom-w.p-tooltip .p-tooltip-text {
  min-width: 400px;
}

.schedule-content-wrapper{
  --num:2;
  display: grid;
  gap:1rem;
  grid-template-columns: repeat(var(--num),minmax(300px,1fr));
}
@media screen and (width >= 1400px) {
  .schedule-content-wrapper{
    --num:3;
  }
}
@media screen and (width <= 992px) {
  .schedule-content-wrapper{
    --num:1;
  }
}
.add-item-panel{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 340px;
  height: 100%;

}

.item-panel .row > div:nth-child(1),.item-panel .row > div:nth-child(2){
  padding-right: 0;
}
.item-panel .p-dropdown-panel{
  left: 0!important;
}
