<div class="container-fluid h-100">
  <div class="row position-relative" style="height: calc(100% - 40px - 0.5rem);">
    <div class="col">
      <div style="margin-bottom: 0.5rem">
        <div *ngIf="isDefault">
          <h3 class="page-title" id="content">{{ title | translate }}</h3>
        </div>
        <div style="text-align: right" *ngIf="!isDefault">
          <button
            type="button"
            icon=""
            class="btn float-start tpi-header-return"
            (click)="return()"
          >
            <i class="fas fa-arrow-left" style="margin-right: 5px"></i>
            {{ "button.return_to_list" | translate }}
          </button>
          <span class="mb-0" style="font-size: 0.8rem; color: #666464"
            >{{ getHead() }} /</span
          >
          <span
            class="mb-0"
            style="font-size: 0.8rem; color: #ff6e38; font-weight: bold"
            >{{ getTail() }}</span
          >
        </div>
        <div class="col d-flex justify-content-center">
          <ng-content select="[center-view=center]"></ng-content>
        </div>
      </div>
      <hr class="my-0 mb-2" />
      <ng-content></ng-content>
      <div class="p-2"></div>
    </div>
  </div>
</div>
