<app-container [title]="currentTitle" [isDefault]="pageNum == 1" (headerReturn)="headerReturn()">
  <div [hidden]="pageNum != 1">
    <form [formGroup]="form" (ngSubmit)="queryFuncList()">
      <div class="form-group">
        <span class="p-input-icon-right" style="width: 40vw">
          <i class="pi pi-search tpi-i-search" (click)="queryFuncList()"></i>
          <input type="search" class="form-control tpi-i-input" id="keyword" formControlName="keyword" placeholder="{{ 'fun_code' | translate }}、{{
            'fun_name' | translate
          }}、{{ 'fun_desc' | translate }}、{{ 'role_name' | translate }}、{{
            'role_alias' | translate
          }}" />
        </span>
      </div>
    </form>
    <div class="col-12 px-0" style="display: flex;justify-content: space-between;">

      <button type="button" class="btn tpi-btn tpi-primary mr-2"
        (click)="exportTsmpFunc()">{{'button.export'|translate}}</button>

      <div style="display: flex;align-items: center;">
        <div class="ui-inputgroup mr-2">
          <input type="file" id="file" style="display: none;" accept=".xlsx" (change)="fileChange($event)">
          <input type="text" class="form-control" [value]="file?.name" readOnly
            placeholder="{{'upload_file' | translate}}">
          <button pButton type="button" icon="pi pi-file" class="ml-1 tpi-primary"
            [pTooltip]="'upload_file' | translate" tooltipPosition="top" (click)="openFileBrowser();"></button>
        </div>
        <button type="button" class="btn tpi-btn tpi-primary mr-2" [disabled]="!file?.name"
          (click)="importTsmpFunc()">{{'button.import'|translate}}</button>
        <i class="far fa-question-circle" pTooltip='<ol style="padding-inline-start: 20px;margin-block-end: 0;"><li>{{"import_key_tip"|translate:{key:"FUNC_CODE+LOCALE"} }}</li><li>{{"use_in_multi_language"|translate }}</li></ol>'
          [escape]="false"></i>
      </div>
    </div>
    <hr />
    <p-table [columns]="funcInfoListCols" [value]="funcInfoList" selectionMode="single" styleClass="p-datatable-striped"
      [style]="{ 'word-break': 'break-word' }" responsiveLayout="scroll">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" [style.width]="col.width" />
        </colgroup>
        <colgroup style="width: 120px">
          Action
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" scope="col" [style.width]="col.width">
            {{ col.header }}
          </th>
          <th style="width: 120px" scope="col">{{ "action" | translate }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns" [style.width]="col.width">
            {{ rowData[col.field] }}
          </td>
          <td style="text-align: center; width: 120px">
            <button pButton pRipple type="button" icon="pi pi-eye" [disabled]="canDetail == false"
              class="p-button-rounded p-button-text p-button-plain" (click)="changePage('detail', rowData)"
              [pTooltip]="'button.roles' | translate" tooltipPosition="top"></button>

            <button pButton pRipple type="button" icon="fa fa-edit" [disabled]="canUpdate == false"
              class="p-button-rounded p-button-text p-button-plain" (click)="changePage('update', rowData)"
              [pTooltip]="'button.update' | translate" tooltipPosition="top"></button>
            <!-- <div class="btn-group">
              <button type="button" class="btn btn-deta mr-5" (click)="changePage('detail', rowData)"
                [disabled]="canDetail == false">
                <span class="fa fa-search">{{
                  "button.roles" | translate
                  }}</span>
              </button>
              <button type="button" class="btn btn-deta" (click)="changePage('update', rowData)"
                [disabled]="canUpdate == false">
                <span class="fa fa-edit">{{
                  "button.update" | translate
                  }}</span>
              </button>
            </div> -->
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer" let-columns>
        <tr *ngIf="funcInfoList.length>0">
          <td [attr.colspan]="columns.length + 1" style="color: #b7b7b7">
            <span style="vertical-align: middle">{{ "row_count" | translate }}: {{ funcInfoList.length }}</span>
            <!-- <button type="button" class="btn btn-warning pull-right ml-3" (click)="moreFuncList()">
              {{ "button.more" | translate }}
            </button> -->
            <!-- 查詢更多 -->
            <button type="button" class="btn tpi-header-return" (click)="moreFuncList()">
              {{ "button.more" | translate }}
              <i class="fas fa-angle-double-right" style="margin-left: 5px"></i>
            </button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length + 1">
            {{ "no_rec" | translate }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div [hidden]="pageNum != 2">
    <div class="form-group row">
      <div class="col-6 col-xl-6 col-lg-6">
        <label>{{ "fun_code" | translate }}</label>
        <label class="form-control border-line">{{
          currentFuncInfo?.funcCode
          }}</label>
      </div>
      <div class="col-6 col-xl-6 col-lg-6">
        <label>{{ "fun_locale" | translate }}</label>
        <label class="form-control border-line">{{
          currentFuncInfo?.locale
          }}</label>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-6 col-xl-6 col-lg-6">
        <label>{{ "fun_name" | translate }}</label>
        <label class="form-control border-line">{{
          currentFuncInfo?.funcName
          }}</label>
      </div>
    </div>
    <div class="form-group row" *ngIf="currentFuncInfo?.reportUrl">
      <div class="col-12">
        <label>Report URL</label>
        <pre class="pre-code-style" [innerText]="currentFuncInfo?.reportUrl"></pre>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-12">
        <label>{{'fun_desc'|translate}}</label>
        <textarea readonly rows="2" style="width: 100%" [value]="currentFuncInfo?.funcDesc" pInputTextarea></textarea>
      </div>
    </div>
    <hr />
    <form [formGroup]="detailForm" (ngSubmit)="queryRoleList()">
      <div class="form-group row">
        <div class="col-4 col-xl-4 col-lg-4">
          <label id="keyword_label" class="control-label">{{
            "keyword_search" | translate
            }}</label>
          <!-- <input
            type="text"
            class="form-control"
            formControlName="keyword"
            placeholder="{{ 'role_name' | translate }}、{{
              'role_desc' | translate
            }}"
          /> -->
          <span class="p-input-icon-right" style="width: 40vw">
            <i class="pi pi-search tpi-i-search" (click)="queryRoleList()"></i>
            <input type="search" class="form-control tpi-i-input" id="keyword" formControlName="keyword" placeholder="{{ 'role_name' | translate }}、{{
                'role_desc' | translate
              }}" />
          </span>
        </div>
      </div>
      <!-- <div class="form-group row">
        <div class="col-12 col-xl-12 col-lg-12">
          <button
            type="button"
            class="btn tpi-btn tpi-primary float-left mr-3"
            (click)="queryRoleList()"
          >
            {{ "button.search" | translate }}
          </button>
        </div>
      </div> -->
    </form>

    <p-table [columns]="roleInfoListCols" [value]="roleInfoList" selectionMode="single" styleClass="p-datatable-striped"
      [style]="{ 'word-break': 'break-word' }" responsiveLayout="scroll">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" [style.width]="col.width" />
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" scope="col" [style.width]="col.width">
            {{ col.header }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns" [style.width]="col.width">
            {{ rowData[col.field] }}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer" let-columns>
        <tr *ngIf="roleInfoList?.length>0">
          <td [attr.colspan]="columns.length" style="color: #b7b7b7">
            <span style="vertical-align: middle">{{ "row_count" | translate }}: {{ roleInfoList?.length }}</span>
            <button type="button" class="btn tpi-header-return" (click)="moreRoleList()">
              {{ "button.more" | translate }}
              <i class="fas fa-angle-double-right" style="margin-left: 5px"></i>
            </button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length">
            {{ "no_rec" | translate }}
          </td>
        </tr>
      </ng-template>
    </p-table>
    <br />
    <div class="form-group row">
      <div class="col-12 col-lg-12">
        <button type="button" class="btn tpi-btn tpi-primary float-left" (click)="changePage('query')">
          {{ "button.return_to_list" | translate }}
        </button>
      </div>
    </div>
  </div>
  <!-- 更新 -->
  <div [hidden]="pageNum != 3">
    <form *ngIf="currentFuncInfo" [formGroup]="form">
      <div class="form-group row">
        <div class="col-6 col-xl-6 col-lg-6">
          <label>{{ "fun_code" | translate }}</label>
          <label class="form-control border-line">{{
            currentFuncInfo.funcCode
            }}</label>
        </div>
        <div class="col-6 col-xl-6 col-lg-6">
          <label>{{ "fun_locale" | translate }}</label>
          <label class="form-control border-line">{{
            currentFuncInfo.locale
            }}</label>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-6 col-xl-6 col-lg-6">
          <label for="newFuncName" class="control-label required">{{ "fun_name" | translate }}</label>
          <input type="text" class="form-control" id="newFuncName" formControlName="newFuncName"
            placeholder="{{ 'new_fun_name' | translate }}" />
          <div *ngIf="
              newFuncName.invalid && (newFuncName.dirty || newFuncName.touched)
            " class="text-danger">
            <small class="form-text">{{
              newFuncName.errors.stringalias | translate : newFunNameLimitChar
              }}</small>
            <small class="form-text">{{
              newFuncName.errors.maxlength | translate : newFunNameLimitChar
              }}</small>
            <small class="form-text">{{
              newFuncName.errors.required | translate
              }}</small>
          </div>
        </div>
        <!-- <div class="col-6 col-xl-6 col-lg-6">
          <label for="newFuncNameEn">{{ "fun_name_en" | translate }}</label>
          <input type="text" class="form-control" id="newFuncNameEn" formControlName="newFuncNameEn"
            placeholder="{{ 'new_fun_name_en' | translate }}" />
          <div *ngIf="
              newFuncNameEn.invalid &&
              (newFuncNameEn.dirty || newFuncNameEn.touched)
            " class="text-danger">
            <small class="form-text">{{
              newFuncNameEn.errors.stringname | translate: newFunNameLimitChar
              }}</small>
            <small class="form-text">{{
              newFuncNameEn.errors.maxlength | translate: newFunNameLimitChar
              }}</small>
          </div>
        </div> -->
      </div>
      <div class="form-group" *ngIf="currentFuncInfo?.reportUrl">
        <div>
          <label for="newReportUrl">Report URL<span style="color: red">*</span></label>
          <small class="pl-2">
            (
            {{
            "funcCode_kibana_prefix" | translate
            }})</small>
        </div>
        <input type="text" class="form-control" id="newReportUrl" formControlName="newReportUrl"
          placeholder="Report URL" />
        <div *ngIf="
            newReportUrl.invalid && (newReportUrl.dirty || newReportUrl.touched)
          " class="text-danger">
          <small class="form-text">{{
            newReportUrl.errors.required | translate
            }}</small>
          <small class="form-text">{{
            newReportUrl.errors.maxlength | translate : newReportUrlLimitChar
            }}</small>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12 col-lg-12">
          <label for="newDesc">{{ "fun_desc" | translate }}</label>
          <div style="display: block">
            <textarea id="newDescTextArea" class="form-control" [rows]="5" pInputTextarea formControlName="newDesc"
              placeholder="{{ 'new_fun_desc' | translate }}"></textarea>
          </div>
          <div *ngIf="newDesc.invalid && (newDesc.dirty || newDesc.touched)" class="text-danger">
            <small class="form-text">{{
              newDesc.errors.maxlength | translate : newFunDescLimitChar
              }}</small>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12 col-lg-12">
          <button type="button" class="btn tpi-btn tpi-primary float-left mr-3" [disabled]="form.invalid"
            (click)="updateFunc()">
            {{ "button.update" | translate }}
          </button>
          <button type="button" class="btn tpi-btn tpi-primary float-left" (click)="changePage('query')">
            {{ "button.return_to_list" | translate }}
          </button>
        </div>
      </div>
    </form>
  </div>
</app-container>
<p-toast [style]="{ marginTop: '60px' }" position="top-left"></p-toast>
