<app-container [title]="title">
  <app-api-test [data]="initData"></app-api-test>
    <!-- <form [formGroup]="form">
        <div class="form-row align-items-center">
            <div class="card card-body bg-light mt-3">
                {{'token'|translate}}
                <div class="col-12 mt-3">
                    <div class="row">
                        <div class="col text-center">

                        </div>
                        <div class="col-10">
                            <div class="row mb-3">
                                <div class="form-inline">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input"
                                            formControlName="enableClientAuth" (change)="enableClientAuthHandler()">
                                    </div>
                                    <label for="clientId" class="col-form-label mr-2 required"
                                        style="width:100px;">{{'client_id'|translate}}</label>
                                    <input class="form-control mr-2" id="clientId" formControlName="clientId"
                                        style="width:200px;" autocomplete="off">
                                    <label for="clientPwd" class="col-form-label mr-2 required"
                                        style="width:140px;">{{'client_password'|translate}}</label>
                                    <input type="password" class="form-control" id="clientPwd"
                                        formControlName="clientPasswd" style="width:200px;" autocomplete="off">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-inline">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" formControlName="enableUserAuth"
                                            (change)="enableUserAuthHandler()">
                                    </div>
                                    <label for="userName" class="col-form-label mr-2"
                                        style="width:100px;">{{'user_name'|translate}}</label>
                                    <input class="form-control mr-2" id="userName" formControlName="userName"
                                        style="width:200px;" autocomplete="off">
                                    <label for="passwd" class="col-form-label mr-2"
                                        style="width:140px;">{{'password'|translate}}</label>
                                    <input type="password" class="form-control" id="passwd" formControlName="passwd"
                                        style="width:200px;" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="form-row align-items-center">
            <div class="card card-body bg-light mt-3">
                <div>
                    {{'request'|translate}}
                </div>

                <div *ngIf='dcs.length>0 || sites.length>0' class="col-12 mt-3">
                    <div class="row">
                        <div class="col text-center pt-2">
                            <label *ngIf='dcs' class="required">{{'dc_code'|translate}}</label>
                            <label *ngIf='sites' class="required">{{'site_code'|translate}}</label>
                        </div>
                        <div class="col-10">
                            <p-dropdown *ngIf='dcs' [options]="dcs" formControlName="dc" [style]="{'z-index':'1000'}">
                            </p-dropdown>
                            <p-dropdown *ngIf='sites' [options]="sites" formControlName="siteCode"
                                [style]="{'z-index':'1000'}"></p-dropdown>
                        </div>
                    </div>
                </div>

                <div class="col-12 mt-3">
                    <div class="row">
                        <div class="col text-center pt-2">
                            <label class="required"> {{'digirunner_url'|translate}}</label>
                        </div>
                        <div class="col-10">
                            <div class="form-inline">
                                {{protocol}}//
                                <input class="form-control" formControlName="baseUrl">/
                                <input class="form-control w-50" id="tsmpUrl" formControlName="tsmpUrl">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 mt-3">
                    <div class="row">
                        <div class="col text-center pt-2">
                            {{'http_method'|translate}}
                        </div>
                        <div class="col-10">
                            <p-dropdown [options]="methods" formControlName="method" [style]="{'z-index':'999'}">
                            </p-dropdown>
                        </div>
                    </div>
                </div>

                <div class="col-12 mt-3">
                    <div class="row">
                        <div class="col text-center pt-4">
                            {{'req_header'|translate}}
                        </div>
                        <div class="col-10">

                            <div class="row">
                                <div class="col-auto">
                                    <div class="card card-body bg-light px-2 py-2 card-radius mb-2">
                                        <div class="form-row my-1">
                                            <div class="col-auto form-inline ">
                                                <label class="col-form-label mr-2">{{'key'|translate}}</label>
                                                <input type="text" style="width:150px;" class="form-control" name="key"
                                                    value="Content-Type" disabled>
                                            </div>
                                            <div class="col-auto form-inline">
                                                <label class="col-form-label mr-2">{{'value'|translate}}</label>
                                                <input type="text" style="width:241px;" class="form-control"
                                                    name="value" formControlName="ContentType">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto"></div>
                            </div>

                            <div class="row">
                                <div class="col-auto">
                                    <app-key-value name="keyvalue" keyLabel="{{'key'|translate}}"
                                        valueLabel="{{'value'|translate}}" #keyValueRequest
                                        formControlName="keyValueRequest"></app-key-value>
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-warning mt-3"
                                        (click)="add('request')">{{'button.add'|translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 mt-3">
                    <div class="row">
                        <div class="col text-center">
                            {{'req_body'|translate}}
                        </div>
                        <div class="col-10">
                            <div class="row mb-3">
                                <div class="form-check d-inline-block mx-3">
                                    <input type="radio" class="form-check-input" id="requestBody"
                                        formControlName="requestBody" value="body" (change)="handleChange()">
                                    <label class="form-check-label" for="requestBody">{{'req_body_json'|translate}}</label>
                                </div>

                                <div class="form-check d-inline-block">
                                    <input type="radio" class="form-check-input" id="requestBodyXml"
                                        formControlName="requestBody" value="xml" (change)="handleChange()">
                                    <label class="form-check-label" for="requestBodyXml">{{'req_body_xml'|translate}}</label>
                                </div>

                                <div class="form-check d-inline-block mx-3">
                                    <input type="radio" class="form-check-input" id="formData"
                                        formControlName="requestBody" value="form" (change)="handleChange()">
                                    <label class="form-check-label" for="formData">{{'form_data'|translate}}</label>
                                </div>

                                <div class="form-check d-inline-block mx-3">
                                    <input type="radio" class="form-check-input" id="formUrlEncoded"
                                        formControlName="requestBody" value="formurl" (change)="handleChange()">
                                    <label class="form-check-label"
                                        for="formUrlEncoded">{{'form_url_encoded'|translate}}</label>
                                </div>

                                <div class="form-check d-inline-block">
                                    <input type="radio" class="form-check-input" id="none" formControlName="requestBody"
                                        value="none" (change)="handleChange()">
                                    <label class="form-check-label" for="none">{{'none'|translate}}</label>
                                </div>
                            </div>
                            <div class="row" *ngIf="this.form.get('requestBody')!.value=='body' || this.form.get('requestBody')!.value=='xml'">
                                <textarea rows="5" class="form-control" formControlName="bodyText"
                                    style="resize: none;"></textarea>
                            </div>

                            <div class="row"
                                *ngIf="this.form.get('requestBody')!.value=='form' || this.form.get('requestBody')!.value=='formurl'">
                                <div class="col-auto">
                                    <app-key-value name="keyvalue" #keyValueForm formControlName="keyValueForm">
                                    </app-key-value>
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-warning mt-3"
                                        (click)="add('form')">{{'button.add'|translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 mt-3">
                    <div class="row">
                        <button type="button" class="btn btn-dark mx-auto"
                            (click)="send()">{{'test'|translate}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row align-items-center">
            <div class="card card-body bg-light mt-3">
                <div>{{'response'|translate}}</div>
                <div class="col-12 mt-3">
                    <div class="row">
                        <div class="col-2 text-right">{{'status'|translate}}</div>
                        <div class="col-10 form-inline">
                            <input type="text" readonly class="form-input form-control w-25"
                                formControlName="resStatus">
                            <span class="ml-2 text-danger">{{resTime}}</span>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-2 text-right">{{'headers'|translate}}</div>
                        <div class="col-10">
                            <textarea rows="3" class="form-control" formControlName="headerList" readonly
                                style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 text-right">{{'body'|translate}}</div>
                        <div class="col-10">
                            <textarea rows="5" class="form-control" formControlName="resBody" readonly
                                style="resize: none;"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form> -->
</app-container>
