<app-container [title]="title">
    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="form-group row">
            <div class="col-4 col-xl-4">
                <label class="required control-label" for="queryStartDate">{{'date_range'|translate}}</label>
                <div class="row">
                    <div class="col-5 col-xl-5">
                        <p-calendar [style]="{'width':'95%'}" [inputStyle]="{'width':'100%'}" appendTo="body"
                            formControlName="queryStartDate" dateFormat="yy/mm/dd" [showIcon]="true">
                        </p-calendar>
                        <div *ngIf="queryStartDate?.invalid && (queryStartDate?.dirty || queryStartDate?.touched)"
                            class="text-danger">
                            <small class="form-text">{{queryStartDate.errors.required | translate}}</small>
                        </div>
                    </div>
                    <div class="col-1 col-xl-1 text-center">
                        <label style="padding: 3px 20px;">～</label>
                    </div>
                    <div class="col-5 col-xl-5">
                        <p-calendar [style]="{'width':'95%'}" formControlName="queryEndDate" appendTo="body"
                            [inputStyle]="{'width':'100%'}" dateFormat="yy/mm/dd" [showIcon]="true">
                        </p-calendar>
                        <div *ngIf="queryEndDate?.invalid && (queryEndDate?.dirty || queryEndDate?.touched)"
                            class="text-danger">
                            <small class="form-text">{{queryEndDate.errors.required | translate}}</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4  col-xl-4">
                <label class="control-label" for="">{{'keyword_search'|translate}}</label>
                <input type="text" class="form-control" formControlName="keyword"
                    placeholder="{{'keyword_search'|translate}}">
            </div>
            <div class="col-2 col-xl-2">
                <label for="" class="control-label">{{'news_type_itme'|translate}}</label>
                <div style="display:block">
                    <p-dropdown [options]="types" [filter]="true" [showClear]="true"
                        placeholder="{{'plz_chs' | translate}}" [style]="{'width':'100%'}" formControlName="typeItemNo">
                    </p-dropdown>
                </div>
            </div>
            <div class="col-2 col-xl-2">
                <label for="" class="control-label">{{'status'|translate}}</label>
                <div style="display:block">
                    <div class="form-check-inline" *ngFor="let stat of status">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" formControlName="enFlagEncode"
                                value={{stat.value}}>{{stat.label}}
                        </label>
                    </div>
                </div>
                <div *ngIf="enFlagEncode?.invalid && (enFlagEncode?.dirty || enFlagEncode?.touched)" class="text-danger">
                    <small class="form-text">{{enFlagEncode.errors.required | translate}}</small>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12">
                <button type="submit" class="btn tpi-btn tpi-primary ">{{'button.search'|translate}}</button>
                <button type="button" class="btn tpi-btn tpi-second float-end"
                    (click)="create();">{{'button.create'|translate}}</button>
            </div>
        </div>
    </form>
    <hr>
    <p-table *ngIf="cols" [columns]="cols" [value]="dataList" [lazy]="true" [loading]="loading" styleClass="p-datatable-striped"
        [style]="{'word-break':'break-word'}">
        <!-- <ng-template pTemplate="caption">
            <div class="ui-helper-clearfix">
                <button type="button" class="btn btn-warning float-start" (click)="delete()">
                    {{ 'button.delete' | translate }}
                </button>
            </div>
        </ng-template> -->
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <!-- <col style="width: 2.25em"> -->
                <col *ngFor="let col of columns" [style.width]="col.width">
                <col style="width: 320px;">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <!-- <th style="width: 2.25em">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th> -->
                <th *ngFor="let col of columns" scope="col" pResizableColumn>
                    {{col.header}}
                </th>
                <th style="width: 320px;" scope="col">{{'action'|translate}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
            <tr>
                <!-- <td>
                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td> -->
                <td *ngFor="let col of columns">
                    <span *ngIf="col.field != 'newContentstr'">
                        {{rowData[col.field]}}
                    </span>
                    <span *ngIf="col.field == 'newContentstr'" (click)="copyNewContent(rowData['newContent']);"
                        [innerHtml]="col.type.transform(rowData[col.field], 100)"></span>
                    <a *ngIf="col.field == 'newContentstr' && rowData[col.field].length > 100"
                        href="javascript:void(0)" pTooltip="{{newContentTransform(rowData['newContent'])}}"
                        (click)="copyNewContent(rowData[col.field]);">{{'show_more'|translate}}</a>
                </td>
                <td style="text-align: center;width: 320px">
                    <div class="btn-group">
                        <button type="button" class="btn btn-deta me-5"
                            (click)="showDialog(rowData,formOperate.update)">
                            <span class="fa fa-edit">{{'button.update'|translate}}</span>
                        </button>
                        <button type="button" class="btn btn-deta me-5" (click)="showDialog(rowData,formOperate.switch)"
                            [disabled]="rowData['status'] == '1'">
                            <span class="fa fa-toggle-on">{{'active'|translate}}</span>
                        </button>
                        <button type="button" class="btn btn-deta me-5" (click)="delete(rowData)"
                            [disabled]="rowData['status'] == '0'">
                            <span class="fa fa-toggle-off">{{'inactive'|translate}}</span>
                        </button>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer" let-columns>
            <tr *ngIf="rowcount">
                <td [attr.colspan]="columns.length+1">
                    <span>{{'row_count' | translate}}: {{rowcount}}</span>
                    <button type="button" class="btn btn-warning pull-right ms-3"
                        (click)="moreData();">{{'button.more'|translate}}</button>
                </td>
            </tr>
            <tr *ngIf="!rowcount || rowcount == 0">
                <td [attr.colspan]="columns.length+1">
                    {{'no_rec' | translate}}
                </td>
            </tr>
        </ng-template>
        <!-- <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="columns.length+2">
                    {{'no_rec' | translate}}
                </td>
            </tr>
        </ng-template> -->
    </p-table>
</app-container>
<app-dialog [title]="dialogTitle" #dialog></app-dialog>
<p-toast [style]="{marginTop: '60px'}" position="top-left"></p-toast>
<!-- <p-toast position="center" key="confirm" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <em class="fas fa-exclamation-triangle fa-3x"></em>
            <h4>{{message.summary}}</h4>
            <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton (click)="onSwitchConfirm()" label="{{'button.confirm'|translate}}"
                    class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="onReject()" label="{{'button.cancel'|translate}}"
                    class="ui-button-secondary"></button>
            </div>
        </div>
    </ng-template>
</p-toast>
<p-toast position="center" key="delete" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <em class="fas fa-exclamation-triangle fa-3x"></em>
            <h4>{{message.summary}}</h4>
            <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton (click)="onDeleteConfirm()" label="{{'button.confirm'|translate}}"
                    class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="onReject()" label="{{'button.cancel'|translate}}"
                    class="ui-button-secondary"></button>
            </div>
        </div>
    </ng-template>
</p-toast> -->
<p-confirmDialog #cd [style]="{width: '50vw'}" icon="pi pi-exclamation-triangle" styleClass="cHeader cContent cIcon">
  <ng-template pTemplate="footer">
    <div class="row" style="justify-content: center;">
      <button type="button" pButton icon="pi pi-check" [ngStyle]="{backgroundColor:'var(--red-300)','border-color':'var(--red-300)'}" label="{{'button.confirm' | translate}}" (click)="cd.accept()"></button>
      <button type="button" pButton icon="pi pi-times" class="p-button-secondary" label="{{'button.cancel' | translate}}" (click)="cd.reject()"></button>
    </div>
  </ng-template>
</p-confirmDialog>
