<div class="card card-body bg-light mt-3">
    <form [formGroup]="form">
        <div class="row">
            <div class="col-12 col-xl-12">
                <div class="form-group row">
                    <div class="col-6 col-xl-6">
                        <label for="questionName" class="required control-label">{{'faq_name'|translate}}</label>
                        <input type="text" formControlName="questionName" class="form-control">
                    </div>
                    <div class="col-6 col-xl-6">
                        <label class="required control-label">{{'upload_file'|translate}}</label>
                        <input type="file" id="file" class="form-control" (change)="handleFile($event.target.files)"
                            style="border: none;padding: 0.25rem .75rem;">
                        <h6 *ngIf="form.get('orgFileName')!.value && data.operate == formOperate.update" class="mt-2">
                            {{form.get('orgFileName').value}}
                            <em class="pi pi-trash mr-3" (click)="deleteFile()"></em>
                        </h6>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        <label for="answerName" class="required control-label">{{'faq_ans'|translate}}</label>
                        <textarea rows="5" formControlName="answerName" class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-2 col-xl-2">
                        <label for="dataSort" class="control-label">{{'order'|translate}}</label>
                        <input type="text" formControlName="dataSort" class="form-control" style="width:80px;">
                    </div>
                    <div class="col-3 col-xl-3">
                        <label for="dataStatus" class="control-label">{{'status'|translate}}</label>
                        <div>
                            <div class="form-check-inline" *ngFor="let stat of status">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" formControlName="dataStatus"
                                        value={{stat.value}}>{{stat.label}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row text-center">
                    <div class="col-12 col-xl-12">
                        <button type="submit" class="btn tpi-btn tpi-primary"
                            (click)="submitForm()">{{submitButtonName}}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
