<div class="card card-body bg-light mt-3">
    <form [formGroup]="form">
        <div class="form-group row">
            <div class="col-6 col-xl-6 col-lg-6">
                <label class="control-label">{{'apply_date'|translate}}</label>：
                <label *ngIf="data.operate == formOperate.create">{{createDateTime}}</label>
                <label *ngIf="data.operate != formOperate.create">{{data.data.createDateTime}}</label>
            </div>
            <div class="col-6 col-xl-6 col-lg-6">
                <label class="control-label">{{'apply_org'|translate}}</label>：
                <label *ngIf="data.operate == formOperate.create">{{orgName}}</label>
                <label *ngIf="data.operate != formOperate.create">{{data.data.orgName}}</label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-6 col-xl-6 col-lg-6">
                <label class="required control-label">{{'api_audience' | translate}}</label>：
                <div>
                    <div class="form-check-inline" *ngFor="let pg of publicFlags">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" formControlName="encPublicFlag"
                                value={{pg.value}}>{{pg.label}}
                        </label>
                    </div>
                </div>
                <div *ngIf="encPublicFlag?.invalid && (encPublicFlag?.dirty || encPublicFlag?.touched)" class="text-danger">
                    <small class="form-text">{{encPublicFlag.errors.isRequired | translate}}</small>
                </div>
            </div>
            <div class="col-6 col-xl-6 col-lg-6">
                <label class="control-label">{{'effective_date'|translate}}</label>：
                <!-- calendar disabled style [inputStyle]="{'opacity':'0.5','cursor':'default','background-color':'#cccccc'}" -->
                <p-calendar dateFormat="yy/mm/dd" [showIcon]="true" [readonlyInput]="true" [minDate]="minDateValue" appendTo="body"
                    formControlName="effectiveDate">
                </p-calendar>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3 col-xl-3 col-lg -3">
                <label *ngIf="data.operate == formOperate.create"
                    class="required control-label">{{'client_id'|translate}}</label>
                <label *ngIf="data.operate != formOperate.create" id="clientId_label" for="clientId"
                    class="control-label">{{'new_client_id'|translate}}</label>：
                <input type="text" class="form-control" formControlName="clientId" id="clientId">
                <div *ngIf="clientId?.invalid && (clientId?.dirty || clientId?.touched)" class="text-danger">
                    <small class="form-text">{{clientId.errors.isRequired | translate}}</small>
                    <small class="form-text">{{clientId.errors.maxlength | translate}}</small>
                </div>
            </div>
            <div class="col-3 col-xl-3 col-lg -3">
                <label *ngIf="data.operate == formOperate.create" id="clientName_label" for="clientName"
                    class="required control-label">{{'client_name'|translate}}</label>
                <label *ngIf="data.operate != formOperate.create" id="clientName_label" for="clientName"
                    class="control-label">{{'new_client_name'|translate}}</label>：
                <input type="text" class="form-control" formControlName="clientName" id="clientName">
                <div *ngIf="clientName?.invalid && (clientName?.dirty || clientName?.touched)" class="text-danger">
                    <small class="form-text">{{clientName.errors.isRequired | translate}}</small>
                    <small class="form-text">{{clientName.errors.maxlength | translate}}</small>
                </div>
            </div>
            <div *ngIf="data.operate == formOperate.create" class="col-3 col-xl-3 col-lg -3">
                <label class="required control-label">{{'password'|translate}}</label>：
                <input type="password" class="form-control" formControlName="clientBlock">
                <div *ngIf="clientBlock?.invalid && (clientBlock?.dirty || clientBlock?.touched)" class="text-danger">
                    <small class="form-text">{{clientBlock.errors.minlength | translate:minLength6}}</small>
                    <small class="form-text">{{clientBlock.errors.required | translate}}</small>
                    <small class="form-text">{{clientBlock.errors.confirm_password | translate}}</small>
                </div>
            </div>
            <div *ngIf="data.operate != formOperate.create" class="col-3 col-xl-3 col-lg -3">
                <label class="required control-label">{{'new_password'|translate}}</label>：
                <input type="password" class="form-control" formControlName="newClientBlock">
                <div *ngIf="newClientBlock?.invalid && (newClientBlock?.dirty || newClientBlock?.touched)"
                    class="text-danger">
                    <small class="form-text">{{newClientBlock.errors.minlength | translate:minLength6}}</small>
                    <small class="form-text">{{newClientBlock.errors.required | translate}}</small>
                    <small class="form-text">{{newClientBlock.errors.confirm_password | translate}}</small>
                </div>
            </div>
            <div class="col-3 col-xl-3 col-lg -3">
                <label class="required control-label">{{'cfm_password'|translate}}</label>：
                <input type="password" class="form-control" formControlName="confirmClientBlock">
                <div *ngIf="confirmClientBlock?.invalid && (confirmClientBlock?.dirty || confirmClientBlock?.touched)"
                    class="text-danger">
                    <small class="form-text">{{confirmClientBlock.errors.minlength | translate:minLength6}}</small>
                    <small class="form-text">{{confirmClientBlock.errors.required | translate}}</small>
                    <small class="form-text">{{confirmClientBlock.errors.confirm_password | translate}}</small>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12 col-xl-12 col-lg-12">
                <label *ngIf="data.operate == formOperate.create" id="reqDesc_label" for="reqDesc"
                    class="required control-label">{{'apply_desc'|translate}}</label>
                <label *ngIf="data.operate != formOperate.create" id="reqDesc_label" for="reqDesc"
                    class="control-label">{{'new_apply_desc'|translate}}</label>：
                <textarea rows="5" formControlName="reqDesc" class="form-control" id="reqDesc"></textarea>
                <div *ngIf="reqDesc?.invalid && (reqDesc?.dirty || reqDesc?.touched)" class="text-danger">
                    <small class="form-text">{{reqDesc.errors.isRequired | translate}}</small>
                    <small class="form-text">{{reqDesc.errors.maxlength | translate}}</small>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12 col-xl-12 col-lg-12">
                <label *ngIf="data.operate == formOperate.create" class="control-label">{{'emails'|translate}}</label>
                <label *ngIf="data.operate != formOperate.create"
                    class="control-label">{{'new_emails'|translate}}</label>：
                <div style="display:block">
                    <textarea class="form-control" rows="5" formControlName="emails"
                        placeholder="{{'emails_comment' | translate}}"></textarea>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12 col-xl-12 col-lg-12">
                <label *ngIf="data.operate == formOperate.create"
                    class="control-label">{{'application_file'|translate}}</label>
                <label *ngIf="data.operate != formOperate.create"
                    class="control-label">{{'new_application_file'|translate}}</label>：
                <!-- <input type="file" id="file" (change)="fileChange($event.target.files)"> -->

                <div class="ui-inputgroup">
                    <input type="file" id="file" style="display: none;"  (change)="fileChange($event.target.files)">
                    <input type="text" class="form-control" value="{{fileName}}" readOnly
                    placeholder="{{'upload_file' | translate}}">
                    <button pButton type="button" icon="pi pi-file" class="ml-1 tpi-primary"
                    [pTooltip]="'upload_file' | translate" tooltipPosition="top"
                    (click)="openFileBrowser();"></button>
                </div>

            </div>
            <div *ngIf="data.operate != formOperate.create && oriFileName?.value" class="col-12 col-xl-12 col-lg-12">
                <label class="control-label">{{'ori_application_file'|translate}}：{{oriFileName.value}}</label>
            </div>
        </div>
    </form>
    <hr>
    <div class="text-center">
        <button type="button" class="btn tpi-btn tpi-primary mt-2" (click)="submitForm();"
            [disabled]="form.invalid">{{btnName}}</button>
    </div>
</div>
<app-dialog [title]="dialogTitle" #dialog></app-dialog>
<p-toast [style]="{marginTop: '60px'}" position="top-left"></p-toast>
