<div>
  <div class="form-group">
    <div class="col px-0">
      <label class="control-label"
        >{{ "selected_api_count" | translate }}:
        {{ this.selected.length }}</label
      >
    </div>
  </div>
  <form [formGroup]="form">
    <div class="form-group row">
      <div class="col-12">
        <label class="control-label required">{{
          "fail_discovery_policy.label" | translate
        }}</label><i class="far fa-question-circle ms-2 " pTooltip="{{'fail_discovery_policy.tip'|translate}}" [escape]="false"></i>
        <div class="col-12 form-group">
          <div class="p-form-check mb-2">
            <!-- <input
              type="radio"
              class="form-check-input"
              value="0"
              formControlName="failDiscoveryPolicy"
            />
            <label class="form-check-label"
              >Policy 0:
              {{ "fail_discovery_policy.policy_0" | translate }}</label
            > -->
            <p-radioButton formControlName="failDiscoveryPolicy" value="0"  inputId="failDiscoveryPolicy0"></p-radioButton>
			      <label for="failDiscoveryPolicy0" class="ms-2 mb-0"> {{ "fail_discovery_policy.policy_0" | translate }}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-12">
        <label class="control-label required">{{
          "fail_handle_policy.label" | translate
        }}</label><i class="far fa-question-circle ms-2 " pTooltip="{{'fail_handle_policy.tip'|translate}}" [escape]="false"></i>
        <div class="col-12 form-group">
          <div class="p-form-check mb-2">
            <p-radioButton formControlName="failHandlePolicy" value="0"  inputId="failHandlePolicy0"></p-radioButton>
			      <label for="failHandlePolicy0" class="ms-2 mb-0">{{ "fail_handle_policy.policy_0" | translate }}</label>
          </div>
          <div class="p-form-check mb-2">
            <p-radioButton formControlName="failHandlePolicy" value="1"  inputId="failHandlePolicy1"></p-radioButton>
			      <label for="failHandlePolicy1" class="ms-2 mb-0">Policy 1: {{ "fail_handle_policy.policy_1" | translate }}</label>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="text-center">
    <button
      type="button"
      class="btn tpi-btn tpi-primary me-3"
      (click)="chooseRole()"
    >
      {{ "button.confirm" | translate }}
    </button>
    <button type="button" class="btn tpi-btn tpi-cancel" (click)="cancelRole()">
      {{ "button.cancel" | translate }}
    </button>
  </div>
</div>
<p-confirmDialog #cd [style]="{width: '50vw'}" icon="pi pi-exclamation-triangle" styleClass="cHeader cContent cIcon">
  <ng-template pTemplate="footer">
    <div class="row" style="justify-content: center;">
      <button type="button" pButton icon="pi pi-check"
        [ngStyle]="{backgroundColor:'var(--red-300)','border-color':'var(--red-300)'}"
        label="{{'button.confirm' | translate}}" (click)="cd.accept()"></button>
      <button type="button" pButton icon="pi pi-times" class="p-button-secondary"
        label="{{'button.cancel' | translate}}" (click)="cd.reject()"></button>
    </div>
  </ng-template>
</p-confirmDialog>
