<app-container [title]="title">
    <form [formGroup]="form" (ngSubmit)="submitForm()">
      <div class="form-group col">
        <label class="control-label fw-bold">{{'date_range'|translate}}</label>
        <div class="col-12 d-flex">
          <p-button type="button" icon="pi pi-caret-left" styleClass="tpi-dark" (onClick)="preMonth();"></p-button>
          <div class="d-flex mx-2">
            <span style="font-size: 1.25rem; padding: 4px;">{{currentDate.getMonth() +
              1}}{{'calendar.month'|translate}}</span>
          </div>
          <p-button type="button" icon="pi pi-caret-right" styleClass="tpi-dark" class="me-3"
            (onClick)="nextMonth()"></p-button>
          <p-calendar [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" appendTo="body"
            formControlName="startDate" dateFormat="yy/mm/dd" [showIcon]="true">
          </p-calendar>
          <div class="d-flex">
            <span style="padding: 5px;">～</span>
          </div>
          <p-calendar [style]="{'width':'100%'}" formControlName="endDate" [inputStyle]="{'width':'100%'}" appendTo="body"
            dateFormat="yy/mm/dd" [showIcon]="true">
          </p-calendar>
        </div>
      </div>
        <div class="form-group row">
            <div class="col-3 col-xl-3">
                <button type="submit" class="btn tpi-btn tpi-primary pull-right">{{'button.search'|translate}}</button>
            </div>
        </div>
    </form>
    <hr>
    <p-table *ngIf="cols" [columns]="cols" [value]="certList" [(selection)]="selected" styleClass="p-datatable-striped"
        [style]="{'word-break':'break-word'}">
        <ng-template pTemplate="caption">
            <div class="ui-helper-clearfix">
                <button type="button" class="btn tpi-btn tpi-primary float-start me-1"
                    (click)="downloadFile('multiple', 'zip', selected);">
                    {{ 'button.download_zip' | translate }}
                </button>
                <button type="button" class="btn tpi-btn tpi-primary float-start me-1"
                    (click)="downloadFile('multiple', 'txt', selected);">
                    {{ 'button.download_txt' | translate }}
                </button>
            </div>
        </ng-template>
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col style="width: 2.25em">
                <col *ngFor="let col of columns" [style.width]="col.width">
            </colgroup>
            <colgroup style="width:180px;">{{'action'|translate}}</colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 2.25em" scope="col">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th *ngFor="let col of columns" scope="col" pResizableColumn>
                    {{col.header}}
                </th>
                <th style="width:180px;" scope="col">
                    {{'action'|translate}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
            <tr>
                <td>
                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                <td *ngFor="let col of columns">
                    <span *ngIf="col.field != 'expiredAt'">
                        {{rowData[col.field]}}
                    </span>
                    <span *ngIf="col.field == 'expiredAt'" [style.color]="highlight(rowData[col.field])">
                        {{rowData[col.field]}}
                    </span>
                </td>
                <td style="text-align:center;width: 180px">
                    <div style="flex-wrap: wrap;">
                        <button pButton pRipple type="button" icon="fa fa-trash-alt"
                                class="p-button-rounded p-button-text p-button-plain"
                                (click)="showDialog(rowData)"
                                [pTooltip]="'button.delete' | translate" tooltipPosition="top"></button>
                        <!-- <button type="button" class="btn btn-deta me-5 mb-1" (click)="showDialog(rowData)">
                            <span class="fa fa-trash-alt">{{'button.delete'|translate}}</span>
                        </button> -->
                        <button pButton pRipple type="button" icon="fa fa-file-archive"
                                class="p-button-rounded p-button-text p-button-plain"
                                (click)="downloadFile('single', 'zip', rowData);"
                                [pTooltip]="'button.download_zip' | translate" tooltipPosition="top"></button>

                        <!-- <button type="button" class="btn btn-deta me-5 mb-1"
                            (click)="downloadFile('single', 'zip', rowData);">
                            <span class="fa fa-download">{{'button.download_zip'|translate}}</span>
                        </button> -->
                        <button pButton pRipple type="button" icon="fa fa-file-download"
                                class="p-button-rounded p-button-text p-button-plain"
                                (click)="downloadFile('single', 'txt', rowData);"
                                [pTooltip]="'button.download_txt' | translate" tooltipPosition="top"></button>
                        <!-- <button type="button" class="btn btn-deta" (click)="downloadFile('single', 'txt', rowData);">
                            <span class="fa fa-download">{{'button.download_txt'|translate}}</span>
                        </button> -->
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer" let-columns>
            <tr *ngIf="rowcount">
                <td [attr.colspan]="columns.length+2" style="color: #b7b7b7;">
                    <span style="vertical-align: middle;">{{'row_count' | translate}}: {{rowcount}}</span>

                        <button  type="button" class="btn tpi-header-return" (click)="moreData()">{{ 'button.more'| translate}}
                          <i class="fas fa-angle-double-right" style="margin-left: 5px;"></i>
                          </button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="columns.length+2">
                    {{'no_rec' | translate}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</app-container>
<p-toast [style]="{marginTop: '60px'}" position="top-left"></p-toast>
<!-- <p-toast position="center" key="delete" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <em class="fas fa-exclamation-triangle fa-3x"></em>
            <h4>{{message.summary}}</h4>
            <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton (click)="onDeleteConfirm()" label="{{'button.confirm'|translate}}"
                    class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="onReject()" label="{{'button.cancel'|translate}}"
                    class="ui-button-secondary"></button>
            </div>
        </div>
    </ng-template>
</p-toast> -->
<p-confirmDialog #cd [style]="{width: '50vw'}" icon="pi pi-exclamation-triangle" styleClass="cHeader cContent cIcon">
  <ng-template pTemplate="footer">
    <div class="row" style="justify-content: center;">
      <button type="button" pButton icon="pi pi-check" [ngStyle]="{backgroundColor:'var(--red-300)','border-color':'var(--red-300)'}" label="{{'button.confirm' | translate}}" (click)="cd.accept()"></button>
      <button type="button" pButton icon="pi pi-times" class="p-button-secondary" label="{{'button.cancel' | translate}}" (click)="cd.reject()"></button>
    </div>
  </ng-template>
</p-confirmDialog>
