table thead>tr>th {
    padding: 5px;
    background-color: #F49E00 !important;
    color: #fff !important;
}

table tbody>tr>td {
    padding: 5px;
    background: inherit;
    border: 1px solid #c8c8c8;
}

table>tbody>tr:nth-child(odd) {
    background-color: #ffffff;
}

table>tbody>tr:nth-child(even) {
    background-color: #F9F9F9;
}

table>tfoot>tr>td {
    padding: 0.571em 0.857em;
    border: 1px solid #c8c8c8;
    color: #333333;
    background-color: #ffffff;
}

.site-postion {
    position: absolute;
    top: 0px;
    right: 180px;
}

.return-postion {
    position: absolute;
    top: 0px;
    right: 280px;
}

.binding-postion {
    position: absolute;
    top: 0px;
    right: 50px;
}