
<div [formGroup]="form" style="display: flex; width: 100%; margin-bottom: 20px">
  <!-- <input type="checkbox" formControlName="selected" class="me-1"> -->
  <p-checkbox [binary]="true" formControlName="selected" class="me-1"></p-checkbox>
  <div
   style="
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-right: 24px
    ">
    <label *ngIf="keyLabel" style="margin: 0; margin-right: 16px">{{
      keyLabel
      }}</label>

    <input type="text" style="width: 100%" class="form-control" name="key" formControlName="key" />
    <div *ngIf="key.invalid && (key.dirty || key.touched)" class="text-danger">
      <small class="form-text">{{ key.errors!["maxlength"] }}</small>
    </div>
    <p-dropdown [options]="valueTypeList" formControlName="valueType" [style]="{'width':'100%'}"></p-dropdown>
  </div>
  <div
   style="
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    ">

    <label *ngIf="valueLabel" style="margin: 0; margin-right: 16px">{{
      valueLabel
      }}</label>

    <div class="w-100">
      <input type="text" style="width: 100%" class="form-control" name="value" formControlName="value" [hidden]="valueType.value=='file'"/>
      <button type="button" class="btn tpi-btn tpi-primary pull-right" [hidden]="valueType.value=='text' || this._fileName != ''" (click)="openFileBrowser();">{{'chs_file'|translate}}</button>
      <input type="file" [id]="'fileField'+ no" (change)="onFileChange($event)"  [hidden]="valueType.value=='text'" style="display: none;"/>
      <span class="p-input-icon-right me-2" style="width: 100%;" [hidden]="_fileName==''">
        <i class="pi pi-trash tpi-i-search" (click)="removeFile();"></i>
        <input type="text" class="form-control tpi-i-input" readonly [value]="_fileName">
      </span>
    </div>
    <div *ngIf="value.invalid && (value.dirty || value.touched)" class="text-danger">
      <small class="form-text">{{ value.errors!["ipaddress"] }}</small>
    </div>
  </div>
  <div style="display: flex; align-items: center; justify-content: center">
    <button type="button" class="btn btn-icon tpi-primary mx-1" (click)="delete($event)">
      <i class="fa fa-minus"></i>
    </button>
  </div>
</div>
<p-toast [style]="{marginTop: '60px'}" position="top-left" ></p-toast>
