<div class="py-1">
  <div class="row">
    <div class="col-12 col-sm-12">
      <div class="ui-inputgroup">
        <input
          class="form-control"
          type="text"
          [(ngModel)]="keyword"
          placeholder="{{ 'role_id' | translate }}、{{
            'role_name' | translate
          }}、{{ 'role_alias' | translate }}"
          (keyup.enter)="queryRoleMappingList('search')"
        />
        <!-- [(ngModel)]='keyword' placeholder="{{'role_id'|translate}}、{{'role_name'|translate}、{{'role_alias'|translate}}" -->
        <button
          pButton
          type="button"
          icon="pi pi-search"
          class="ms-1 tpi-primary"
          (click)="queryRoleMappingList('search')"
        ></button>
      </div>
    </div>
  </div>
  <br />

  <p-table
    *ngIf="cols"
    [columns]="cols"
    [value]="roleInfoList"
    [(selection)]="selected"
    [style]="{ 'word-break': 'break-word' }"
    styleClass="p-datatable-striped"
    responsiveLayout="scroll"
  >
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col style="width: 2.25em" />
        <col *ngFor="let col of columns" [style.width]="col.width" />
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 2.25em" scope="col">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th *ngFor="let col of columns" [style.width]="col.width" scope="col">
          {{ col.header }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td>
          <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
        </td>
        <td *ngFor="let col of columns" [style.width]="col.width">
          <span>
            {{ rowData[col.field] }}
          </span>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer" let-columns>
      <tr *ngIf="rowcount">
        <td [attr.colspan]="columns.length + 1">
          <span>{{ "row_count" | translate }}: {{ rowcount }}</span>
          <button  type="button" icon=""
          class="btn tpi-header-return"
         (click)="moreData()">
         {{ 'button.more'| translate}}
         <i class="fas fa-angle-double-right" style="margin-left: 5px;"></i>
          </button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns.length + 1">
          {{ "no_rec" | translate }}
        </td>
      </tr>
    </ng-template>
  </p-table>
  <br />
  <div class="text-center">
    <button
      type="button"
      class="btn tpi-btn tpi-primary me-3"
      [disabled]="rowcount == 0"
      (click)="chooseRole()"
    >
      {{ "button.confirm" | translate }}
    </button>
  </div>
</div>
