<!-- <nav class="navbar navbar-expand-lg" style="z-index: 1000"> -->
<div class="header">
  <!-- logo 圖片 -->
  <a routerLink="/dashboard" (click)="click($event)">
    <img
      *ngIf="acConf.edition == 'Enterprise'"
      src="assets/images/digirunner_new.png"
      class="img-header-logo"
      alt="digirunner"
    />
    <img
      *ngIf="acConf.edition == 'Express'"
      src="assets/images/digiRunner_icons_express.png"
      class="img-header-logo"
      alt="digirunner express"
    />
    <img
      *ngIf="acConf.edition == 'Alpha'"
      src="assets/images/digirunner_alpha.png"
      class="img-header-logo"
      alt="Alpha"
    />
    <img
      *ngIf="acConf.edition == 'Enterprise_Lite'"
      src="assets/images/digirunner_lite.png"
      class="img-header-logo"
      alt="Enterprise Lite"
    />
  </a>
  <div class="header-last-panel">
    <button pButton icon="pi pi-bars" class="p-button-text p-button-secondary header-toggler-btn" type="button" (click)="toggleSidebar()"></button>

    <div [hidden]="!aliveSec || aliveSec == 0">
      <label class="expired-time" style="white-space: nowrap">
        <i class="fas fa-stopwatch"></i> {{ this.minStr }} :
        {{ this.secStr }}</label
      >
    </div>
    <div class="user-info">
      <img src="assets/images/user.png" class="rounded-circle" alt="user" />

      <p-menu #menu [popup]="true" [model]="items">
        <ng-template pTemplate="item" let-item>
          <ng-container *ngIf="item.route; else elseBlock">
            <a [routerLink]="item.route" class="p-menuitem-link">
              <span [class]="item.icon"></span>
              <span class="ms-2">{{ item.label | translate }}</span>
            </a>
          </ng-container>
          <ng-template #elseBlock>
            <span [class]="item.icon"></span>
            <span class="ms-2">{{ item.label | translate }}</span>
          </ng-template>
        </ng-template>
      </p-menu>
      <button
        type="button"
        class="p-button-text p-button-secondary header-info-btn"
        pButton
        icon="pi pi-angle-down"
        label="Hi, {{ userAlias }}"
        (click)="menu.toggle($event)"
      ></button>
    </div>
  </div>
</div>


