 body {
     zoom: 100%;
 }

 a.monitor-box {
     background-color: #fff;
     border: 1px solid #CCCCCC;
     border-radius: 12px;
     color: #5A5541;
     -webkit-border-radius: 12px;
     -moz-border-radius: 12px;
     -ms-border-radius: 12px;
     -o-border-radius: 12px;
     /* overflow: hidden; */
     display: block;
     height: 100%;
 }

 a.monitor-box .caption {
     color: #fff;
     font-size: 18px;
     font-weight: bold;
     display: -webkit-box;
     -webkit-line-clamp: 1;
     -webkit-box-orient: vertical;
     overflow: hidden;
     height: 42px;
     padding: 12px 15px;
     border-radius: 11px 11px 0 0;
     -webkit-border-radius: 11px 11px 0 0;
     -moz-border-radius: 11px 11px 0 0;
     -ms-border-radius: 11px 11px 0 0;
     -o-border-radius: 11px 11px 0 0;
 }

 a.monitor-box.status-green .caption {
     background-color: #67A123;
 }

 a.monitor-box.status-yellow .caption {
     background-color: #F49E00;
 }

 a.monitor-box.status-red .caption {
     background-color: #D93146;
 }

 a.monitor-box .detail {
     padding: 15px;
 }

 a.monitor-box .icon-status {
     text-align: center;
     margin-bottom: 15px;
 }

 a.monitor-box .info {
     margin-bottom: 15px;
     word-break: break-all;
 }



 .label {
  color: #434343;
 }

 .card-row{
  border-bottom: 1px solid #DEDEDE;

 }
