.noimg{
  background-color: #ededed;
  border: 2px solid #dedede;
  border-radius: 5px;
  margin-left: 20px;
  /* padding: 10px; */
  min-width: 50px;
  min-height: 50px;
}

.form-group label {
  background: #F6F6F6;
}
