<div class="card card-body bg-light mt-3">
    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="form-group row">
            <div class="col-sm-4">
                <label *ngIf="data.operate == formOperate.create"
                    class="required control-label">{{'news_effective_date'|translate}}</label>
                <label *ngIf="data.operate == formOperate.update"
                    class="required control-label">{{'new_news_post_date'|translate}}</label>
                <div>
                    <p-calendar [style]="{'width':'95%','z-index':'999'}" [readonlyInput]="true" appendTo="body"
                        [minDate]="minDateValue" [inputStyle]="{'width':'100%'}" formControlName="postDateTime"
                        dateFormat="yy/mm/dd" [showIcon]="true"></p-calendar>
                </div>
                <div *ngIf="postDateTime?.invalid && (postDateTime?.dirty || postDateTime?.touched)" class="text-danger">
                    <small class="form-text">{{postDateTime.errors.required | translate}}</small>
                </div>
            </div>
            <div class="col-sm-4">
                <label *ngIf="data.operate == formOperate.create"
                    class="required control-label">{{'news_title'|translate}}</label>
                <label *ngIf="data.operate == formOperate.update"
                    class="control-label">{{'new_news_title'|translate}}</label>
                <input type="text" formControlName="newTitle" class="form-control"
                    placeholder="{{'news_title'|translate}}">
                <div *ngIf="newTitle?.invalid && (newTitle?.dirty || newTitle?.touched)" class="text-danger">
                    <small class="form-text">{{newTitle.errors.required | translate}}</small>
                    <small class="form-text">{{newTitle.errors.maxlength | translate:newTitleLimitChar}}</small>
                </div>
            </div>
            <div class="col-sm-4">
                <label *ngIf="data.operate == formOperate.create"
                    class="required control-label">{{'news_type_itme'|translate}}</label>
                <label *ngIf="data.operate == formOperate.update"
                    class="control-label">{{'new_news_type_itme'|translate}}</label>
                <p-dropdown [options]="types" [filter]="true" placeholder="{{'plz_chs' | translate}}"
                    [style]="{'width':'100%'}" formControlName="typeItemNo">
                </p-dropdown>
                <div *ngIf="typeItemNo?.invalid && (typeItemNo?.dirty || typeItemNo?.touched)" class="text-danger">
                    <small class="form-text">{{typeItemNo.errors.required | translate}}</small>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <label *ngIf="data.operate == formOperate.create"
                    class="required control-label">{{'news_content'|translate}}</label>
                <label *ngIf="data.operate == formOperate.update"
                    class="control-label">{{'new_news_content'|translate}}</label>
                <!-- <p-editor formControlName="newContent" [style]="{'height':'320px'}">
                    <p-header>
                        <span class="ql-formats">
                            <button class="ql-bold" aria-label="Bold"></button>
                            <button class="ql-italic" aria-label="Italic"></button>
                            <button class="ql-underline" aria-label="Underline"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-link" aria-label="Insert Link"></button>
                        </span>
                    </p-header>
                </p-editor>
                <div *ngIf="newContent.invalid && (newContent.dirty || newContent.touched)" class="text-danger">
                    <small class="form-text">{{newContent.errors.required | translate}}</small>
                    <small class="form-text">{{newContent.errors.length | translate:newContentLimitChar}}</small>
                </div> -->
                <p-editor required maxlength="1024" [(ngModel)]="newContent" #content="ngModel"
                    [ngModelOptions]="{standalone: true}" [style]="{'height':'320px'}"
                    (onTextChange)="textChanged($event)">
                    <p-header>
                        <span class="ql-formats">
                            <button class="ql-bold" aria-label="Bold"></button>
                            <button class="ql-italic" aria-label="Italic"></button>
                            <button class="ql-underline" aria-label="Underline"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-link" aria-label="Insert Link"></button>
                        </span>
                    </p-header>
                </p-editor>
                <div *ngIf="content.invalid && (content.dirty || content.touched)" class="text-danger">
                    <div *ngIf="content.errors.required && data.operate == formOperate.create">
                        {{'validation.required' | translate}}
                    </div>
                    <!-- <div *ngIf="content.errors.maxlength">
                        {{'validation.maxlength' | translate:newContentLimitChar}}
                    </div> -->
                    <div *ngIf="content.errors.maxlength && showMaxLengthError">
                        {{'validation.maxlength' | translate:newContentLimitChar}}{{'message.news_content_length_error'|translate}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col text-center">
            <!-- <button type="submit" class="btn btn-warning pull-right me-2"
                [disabled]="data.operate == formOperate.create ? (form.invalid || content.invalid) : form.invalid">{{submitBtnName}}</button> -->
            <!-- <button type="submit" class="btn btn-warning pull-right me-2"
                [disabled]="data.operate == formOperate.create ? (form.invalid || content.invalid || showMaxLengthError) : form.invalid">{{submitBtnName}}</button> -->
            <button type="submit" class="btn tpi-btn tpi-primary pull-right me-2"
                [disabled]="form.invalid || canNotSend">{{submitBtnName}}</button>
        </div>
    </form>
</div>
