<form [formGroup]="form" (ngSubmit)="filter();">
  <div class="form-group row ">
    <div class="col-12">
      <p-autoComplete class="ui-fluid" [suggestions]="orgNameSuggestions" (completeMethod)="autoComplete($event)"
        formControlName="orgName" placeholder="{{'org_name' | translate}}">
      </p-autoComplete>
      <button pButton type="submit" icon="pi pi-search" class="ms-1 tpi-primary"></button>
      <button *ngIf="showCreateBtn" type="button" class="btn tpi-btn tpi-second ms-2 float-end"
        (click)="showCreateDialog();">{{'button.create'|translate}}</button>

    </div>
  </div>

</form>
<hr class="my-0 mb-2">
<div class="w-100" style="overflow: auto;height: 85%;">
  <p-tree [value]="orgs" layout="horizontal" selectionMode="single" [(selection)]="selectedOrgNode"
    (onNodeSelect)="onNodeSelect(selectedOrgNode)">
    <ng-template let-node pTemplate="default">
      <div style="margin: 15px;">

        <span tabindex="0" id="{{node.data.orgName+'_'+uuid}}">{{node.data.orgName}}</span>
      </div>
    </ng-template>
  </p-tree>


</div>
<p-footer *ngIf="showFooterBtn">
  <div class="w-100" style="justify-content: center;margin-top: 10px;text-align: center;">
    <button type="button" class="btn tpi-btn tpi-primary me-2" (click)="saveConfirmData()">{{'button.confirm' |
      translate}}</button>
    <button type="button" class="btn tpi-btn tpi-cancel me-2" (click)="cancelOrgDialog()">{{'button.cancel' |
      translate}}</button>
  </div>

</p-footer>
