body .ui-autocomplete .ui-autocomplete-input {
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

body .ui-inputtext:enabled:focus:not(.ui-state-error) {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

body .ui-corner-all {
    border-radius: .25rem;
}

.ui-tree.ui-tree-horizontal .ui-treenode-connector-table {
    width: 2px;
}

body .ui-tree.ui-tree-horizontal .ui-treenode .ui-treenode-content.ui-state-highlight {
    background-color: #F49E00!important;
}

.ui-treenode-content.ui-state-default.ui-corner-all.ui-treenode-selectable.ui-cursor.ui-cursor {
    background-color: #e9ecef;
    pointer-events: none;
}



.p-tree.p-tree-horizontal .p-treenode .p-treenode-content:hover{
  background: #FFECE5!important;
  color: #666666!important
}

.p-tree.p-tree-horizontal .p-treenode .p-treenode-content.p-highlight{
  color: #FFFFFF!important;
  background: #FF6E38!important;
}


