<app-header></app-header>
<app-sidebar></app-sidebar>
<section class="main-container">
  <router-outlet></router-outlet>
</section>
<app-footer></app-footer>

<!-- <mat-sidenav-container class="mainContainer">

  <mat-sidenav mode="side" opened class="sidenavMin navbar" #drawer style="overflow-x: hidden;">
    <mat-nav-list>

      <div class="menuItem">
        <button type="button" class="btn" (click)="toggleSideNav(drawerMenu)">
          <i class="fa fa-list"></i>
        </button>


      </div>


      <div class="menuItem" [ngClass]='appropriateClass'>

      </div>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content style="background-color: #ffcc8d;">
    <mat-sidenav-container class="mainContainer">
      <mat-sidenav [mode]="mode" opened class="sidenav " #drawerMenu>
        <app-sidebar></app-sidebar>
      </mat-sidenav>

      <mat-sidenav-content >
        <section>
          <router-outlet></router-outlet>
        </section>
      </mat-sidenav-content>

    </mat-sidenav-container>
  </mat-sidenav-content>
</mat-sidenav-container> -->


