.btn-create-postion {
    position: absolute;
    top: 0px;
    right: 50px;
}

table thead>tr>th {
    padding: 5px;
    border: 1px solid #c8c8c8;
    font-weight: 700;
    background-color: #434343  !important;
    color: #fff !important;
}

table tbody>tr>td {
    padding: 5px;
    background: inherit;
    border: 1px solid #c8c8c8;
}

table>tbody>tr:nth-child(odd) {
    background-color: #ffffff;
}

table>tbody>tr:nth-child(even) {
    background-color: #F9F9F9;
}

.form-group label {
  background: #F6F6F6;
}

.xApiKeyCard{
  padding: 10px 10px;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  background: #F6F6F6;
  margin-bottom: 1rem;
}
